[2016-03-31 12:28] vbauer opened #1 "Add information about licensing"

[2016-03-31 16:29] niqdev commented on #1
I've added the [licence](https://github.com/niqdev/ipcam-view/blob/master/LICENCE.md).
Thanks!

[2016-03-31 16:29] #1 closed

[2016-03-31 17:32] vbauer commented on #1
Thank you for information!

[2016-05-02 06:30] osmankudu opened #2 "Scrollview in very lag"
Hi niq,

Your code is best thank you but in scrollview very lagged.

Where am I doing wrong?

When I insert into scrollview I get the following error ->

**Skipped 1104 frames!  The application may be doing too much work on its main thread.**

My Layout Code  ->

[code]

[2016-05-02 07:18] niqdev commented on #2
Hi,
honestly I've used it only on full screen activity as in the demo.
If you fork the project and make a pull-request adding a `ScrollView` in another activity I can try to help you in debug it and it might help someone else also.
Thanks!

[2016-05-24 02:40] nairbspace opened #3 "Activity context leaks due to MjpegViewThread"
Just wanted to give you a heads up that when the `SurfaceHolder` gets passed in `MjpegViewThread` the activity ends up getting leaked. See log below from LeakCanary.

I'm trying to figure out a way to combine the `MjpegInputStream` and `MjpegViewThread` and then update the `SurfaceView` on the main thread. That way the `SurfaceView` doesn't need to get passed in a separate thread. But just like yo

[2016-05-24 06:08] niqdev commented on #3
Hi,
I'm glad you like the library, if you have any suggestions or you have some hints to improve the code I'll be happy to help you and merge your pull request!

[2016-05-24 06:48] nairbspace commented on #3
Made a hotfix for now. See pull request: [Activity leak fix #4](https://github.com/niqdev/ipcam-view/pull/4).

[2016-05-24 07:18] niqdev commented on #3
Library v0.3.1 is now available if you need it, I will update the app in the store later.
I will close this issue, but if you have any other fix feel free to re-open it.
Thanks!

[2016-05-24 07:18] #3 closed

[2016-05-25 08:38] ripleyXLR8 opened #5 "Unable to use ipcam-view with the native support of java 1.8 with Android studio 2.1.1"
I'm having trouble using ipcam-view with the native support of Android Studio 2.1.1 of Java 1.8.

When i tried to launch the fragment containing the Webcam View I Obtain :

Caused by: java.lang.IncompatibleClassChangeError: The method 'rx.Observable com.github.niqdev.mjpeg.Mjpeg.com_github_niqdev_mjpeg_Mjpeg_lambda$connect$0(java.lang.String)' was expected to be of type direct but instead was foun

[2016-05-25 12:50] niqdev commented on #5
Hi,
I've created a new branch [java-8-native](https://github.com/niqdev/ipcam-view/tree/java-8-native), updated the [build.gradle](https://github.com/niqdev/ipcam-view/blob/java-8-native/app/build.gradle) and followed [this](https://developer.android.com/preview/j8-jack.html) and [this](https://developer.android.com/preview/setup-sdk.html)

...
To start using these features, you need to download a

[2016-05-25 12:54] ripleyXLR8 commented on #5
I had these error before switching my buildtools version "buildToolsVersion "24.0.0-rc3""

[2016-05-25 16:42] niqdev commented on #5
I just tested on java-8-branch but the project still don't compile with
[code]
and
[code]
and I have the same error `Error: Cannot get property 'destinationDir' on null object`. Could you try to confirm if it works for you or not?

About the second question I've checked and yes, actually there is only one lambda in `Mjpeg#connect`, but to be honest if you suggest that it can help you I could think

[2016-05-25 16:47] niqdev commented on #2
Hi @osmankudu, could you please tell me if you still have the problem or you found a solution and how?
If not I will close the issue.
Thanks

[2016-05-26 08:29] ripleyXLR8 commented on #5
I tried the java-8-native branch.
It doesn't work first, it cannot start on my "N preview" emulator, I don't know why it doesn't allow it.

I had to change to
compileSdkVersion 23
minSdkVersion 23
targetSdkVersion 23

Then it works without error or warning.

[2016-05-26 08:40] niqdev commented on #5
I think we should wait for a stable `buildToolsVersion` and then we try again. Do you agree?

[2016-05-26 09:20] ripleyXLR8 commented on #5
I think so.... I will use retrolambda in the meantime.

[2016-05-26 09:28] niqdev commented on #5
:+1:

[2016-05-27 12:18] niqdev commented on #3
App version 1.2.1 is now available :smile:

[2016-05-31 17:21] niqdev commented on #2
Since I haven't received any answer for a while I will close this issue.

[2016-05-31 17:21] #2 closed

[2016-06-07 06:13] niqdev opened #9 "Once in a while app crashes (emulator)"
For now, I had this issue only with the emulator pressing back to MainActivity and app crashes

[code]

A similar issue [here](http://stackoverflow.com/questions/13196013/why-application-is-dying-randomly)

[2016-06-07 17:58] WhyteFyre opened #10 "Possibility of Adding Record Function"
Hello,
I have been testing this library and I was wondering if you could point me in the right direction on adding recording support for the active video stream.

Regards,
-Dominique

[2016-06-09 07:29] niqdev commented on #10
Hi, I will have a look and share it with you here!
If it's worth it I might add a `RecordActivity` and `SnapshotActivity` in the demo or enhance the library.

[2016-06-13 18:24] WhyteFyre commented on #10
Thanks for responding! I'm looking into how to use MediaProjection to a MediaRecorder. The main issue is getting a SurfaceView object into there. Would it be possible to grab a BitmapFactory object and record from there?

[2016-06-13 19:22] niqdev commented on #10
Could you please add some snippets of code of what would you like or you are trying to implement it or links at some example/resources?
I had a look at some solution, but I didn't have time time yet to test it and implement it, sorry

[2016-06-14 20:54] WhyteFyre commented on #10
What I have right now is recordIPCamService (a class, extending Service), which hoping will be instantiated when a button is pressed on the MainActivty. My main problem right now is getting the Intent to be passed to it so that DisplayManager in startRecording() has proper permissions.
I was thinking on creating another class with the permissions methods, for readability purposes.

I will add more

[2016-06-15 11:47] niqdev commented on #10
I understood your problem now about SurfaceView, maybe we can think to add other methods that wrap the record functionality in the library directly, in the mean while here few links I've found

* http://mattsnider.com/video-recording-with-mediaprojectionmanager/
* http://bigflake.com/mediacodec
* http://stackoverflow.com/questions/1817742/how-can-i-capture-a-video-recording-on-android

[2016-06-15 22:45] WhyteFyre commented on #10
Thanks. I will be looking into those links.

[2016-06-28 16:24] vgarces opened #11 "Problem visualizing IP camera adding gradle dependency to new app"
Hi @niqdev, i'm trying to use your code in a new APP via the gradle dependency system and can't make it work. I have tried with several cameras to test if I can stream them properly, but none work (including the default one included in your original code). The code always seems to give me "Error" message with any camera I try, but the same cameras work fine in your APP.

What am I doing wrong? i'm

[2016-06-28 18:48] niqdev commented on #11
Hi,
I'd like to help you, but do you have any stacktrace for the "error" or could you give me more details about your code?
Sorry if I will answer late but I'm on holiday until next week without laptop and I can't test it directly.

[2016-06-28 20:25] vgarces commented on #11
First of all, thanks for the fast reply!

I haven't done proper tracing yet (started working on the code a few days ago), but I can give you some debug output from the app. Whenever a try to see an IP camera stream, the app throws **this error**:

My app uses a Navigation View, so I'm trying to read the stream in an Activity Fragment, which is called from my Main Activity when I select the correct

[2016-07-03 00:36] dmolinaa opened #12 "NPE on MjpegViewDefault"
Hi! When you go to background and then back to foreground there a NPE. This is because when you call _surfaceDestroyed, the thread is set to null then when you back to foreground you call thread.star() and thread is null.

The logs:
 `07-03 02:30:47.794 15369-15369/com.github.niqdev.ipcam E/IpCamDefaultActivity: mjpeg error

[2016-07-03 12:02] niqdev commented on #12
Hi,
I think the error is the same as this [issue](https://github.com/niqdev/ipcam-view/pull/8).
From your stacktrace, the NPE seems to happen not on `_surfaceDestroyed` but on `_startPlayback` at [line 186](https://github.com/niqdev/ipcam-view/blob/master/mjpeg-view/src/main/java/com/github/niqdev/mjpeg/MjpegViewDefault.java). I will fix the error and update the library soon.
Thanks

[2016-07-03 12:14] niqdev commented on #11
Hi,
could you please copy and paste your code related to the ipcam from MainActivity and ActivityFragment.
I'm expecting it should looks like [IpCamDefaultActivity](https://github.com/niqdev/ipcam-view/blob/master/app/src/main/java/com/github/niqdev/ipcam/IpCamDefaultActivity.java) and [activity_ipcam_default.xml](https://github.com/niqdev/ipcam-view/blob/master/app/src/main/res/layout/activity_ip

[2016-07-04 12:08] niqdev commented on #12
Library version v0.3.3 should fix the problem and app version 1.2.2 is available for beta testing

[2016-07-04 12:08] #12 closed

[2016-07-04 17:10] Volvagia27 commented on #11
Hi, this is my own account (the one I used before it's a friend's account).

This is the code related to the ipcam from my ActivityFragment `package com.amuinmed.intubappalpha;

    private int TIMEOUT = 5; //seconds

    @BindView(R.id.default_view)
    MjpegView mjpegView;

    @Nullable
    public View onCreateView(LayoutInflater inflater, ViewGroup container, Bundle savedInstanceState) {

[2016-07-04 17:29] niqdev commented on #11
Hi,
it seems that in your ActivityFragment the NullPointerException is due to the fact that you are not initializing correctly the view
[code]
I'm not sure that this is the problem, try to have a look also at [butterknife](http://jakewharton.github.io/butterknife/)

Moreover you can avoid to use this `.credential("", "")` if you don't have any credentials and call it directly like this
[code]
Let

[2016-07-05 00:01] Gonsaave commented on #11
Hi, I modified my code like you suggested and it works now!

The code in my ActivityFragment looks like **this** now:
[code]

About the credentials, that's even better, thanks for the tip. I will keep working on my code and doing some more test, mind if I ask you for help in case I get another problem with your library?

Thanks for all your help and time.

[2016-07-05 04:53] niqdev commented on #11
No problem, if I can I will help you!
Just star the project if you like it :wink:

[2016-07-05 04:53] #11 closed

[2016-07-06 01:44] ingaramop commented on #5
Hi  @niqdev, I have been trying to build a simple app to try this wrapper with no success.
First, I tried to use it with java 1.8, getting the same issue with jackOptions.
Then, I tried using Retrolambda and Lightrweight-Stream-Api as sugested above, but I keep getting errors.

I am new to Android, so maybe I am making some silly mistake. Could you take a look at this and tell me what am I doing w

[2016-07-06 20:52] niqdev commented on #5
Hi @ingaramop!

Yes sure, so first of all [here](https://github.com/ingaramop/MjpegPlayerTest/blob/master/app/src/main/res/layout/activity_main.xml) you should give a name at MjpegSurfaceView i.e. `android:id="@+id/VIEW_NAME"` for example could be `android:id="@+id/myMjpegView"`

Then, because you are not using [butterknife](http://jakewharton.github.io/butterknife/), if I'm correct you should add

[2016-07-06 23:21] ingaramop commented on #5
@niqdev, It worked straightforward with those changes. Thanks!

[2016-07-29 13:15] niqdev opened #13 "MIT License"
Change License from Creative Commons to MIT

Use this [template](http://choosealicense.com/licenses/mit/)

[2016-08-07 11:35] disono opened #14 "onPause() and onResume() java.lang.IllegalThreadStateException: Thread already started"
When I tried to put the app in the background and then return to app again this error occurred/showed:

I also tried to clone the source and similar error occured:

java.lang.IllegalThreadStateException: Thread already started
                                                                                                   at java.lang.Thread.checkNotStarted(Thread.java:849)

[2016-08-07 22:43] niqdev commented on #13
Updated with this [commit](https://github.com/niqdev/ipcam-view/commit/0a77e0e9d8ac80f55849527a22b8f9a3ce5d7f2f)

[2016-08-07 22:43] #13 closed

[2016-08-07 22:49] niqdev commented on #14
Hi,
unfortunately what there is under the hood is a bit unclear, so this is the reason of the wrapper library.
Hopefully this [commit](https://github.com/niqdev/ipcam-view/commit/b5549b43a23fcdfb5bbc620eb10be20746aa4fab) fix the issue, but I was unable to replicate it, instead I had a NPE.
Can you tell me please if now version `0.3.4` works? If so, I will update also the demo library.
Thanks

[2016-08-08 04:31] disono commented on #14
Hi,
Thanks for the reply, I tried the new commit but it doesn't work, what I did is close the connection when the app is on onPause here is the code I modified:

    void _startPlayback() {
        if (mIn != null && thread != null) {
            mRun = true;
            // clear canvas cache
            mSurfaceView.destroyDrawingCache();
            thread.start();
        }
    }

    void _sto

[2016-08-08 08:20] niqdev commented on #14
Great, can you please make a pull request with your fix? if needed revert my changes.

[2016-08-08 11:08] disono commented on #14
Yeah sure.

[2016-08-09 20:04] niqdev commented on #14
I think you choose the wrong destination branch in #15 (disono wants to merge 16 commits into `java-8-native` from `master`), you should start from the updated master branch and make a pull request on master, not java-8-native, this is why there are conflicts.
Can you please do another pull request with the same fix? I think you can cancel the other one.
Thanks

[2016-08-10 11:56] niqdev commented on #14
I've added your changes in this [commit](https://github.com/niqdev/ipcam-view/commit/03346e50004d78303878a68d6e4fc73a82ba4c51) and updated the library to v0.3.5.
Can you tell me if it works now?
Thanks

[2016-08-10 14:50] disono commented on #14
Hi thanks but the commit doesn't work, I forgot to add this on my last comment can you update this on MjpegViewDefault.java

void _setSource(MjpegInputStreamDefault source) {
        mIn = source;

        // make sure resume is calling _resumePlayback()
        if (!resume) {
            _startPlayback();
        } else {
            _resumePlayback();
        }
    }

Thanks

[2016-08-10 17:27] niqdev commented on #14
Version 0.3.6 is out, but I'm still not able to reproduce your error, so just let me know if is ok and then I will update the library in the store when it works for you.
Thanks

[2016-08-12 14:56] Dinuirar opened #16 "ipcam.settings"
I installed ipcam-view, but I'm getting an error when I'm trying to compile example program.

"Cannot resolve ipcam" because of:

[code]

Should I install some additional software, or did I install ipcam incorrectly?

[2016-08-12 15:08] niqdev commented on #16
Hi!
no additional library is required. Sorry but when you say "install", you mean add the gradle dependency in the `build.gradle` of your app, right?
Can you provide a complete stacktrace please, otherwise I don't understand your error.
Thanks

[2016-08-12 15:14] niqdev commented on #14
@disono sorry, does it work now?
Thanks

[2016-08-12 15:20] disono commented on #14
@niqdev yeah it's 100% working!
Thanks.

[2016-08-12 15:20] #14 closed

[2016-08-12 16:30] Dinuirar commented on #16
I downloaded ipcam-view-master.zip, unpacked in my home folder and in script I changed path to ndk-build. I runned the compileJni.sh script. I added the gradle dependency:
in build.gradle (module app):
[code]
and in build.gradle (Project: test):
[code]
Do I need butterknife from https://github.com/JakeWharton/butterknife to run example app?

[2016-08-12 17:15] niqdev commented on #16
So I did all the steps from scratch in order to help you:

I cloned the repo from command line with `git clone git@github.com:niqdev/ipcam-view.git`, if you don't have an SSH key use `git clone https://github.com/niqdev/ipcam-view.git`

then in the project root directory I added a file `local.properties` with `sdk.dir=/YOUR/PATH/Android/Sdk`

and then compiled the project with `./gradlew build` (i

[2016-08-12 18:04] Dinuirar commented on #16
Thank you very much!

It turned out that I imported the example app incorrectly, now it's working and I can start my work on my actual project. Thanks!

[2016-08-12 18:21] niqdev commented on #16
Great! If you like the project please star it :wink:

[2016-08-12 18:21] #16 closed

[2016-09-25 14:02] SalahEddin opened #17 "Ability to render to SurfaceTexture"
it would be really helpful to know if it's possible to render to an openGL surfaceTexture instead of the MjpegSurfaceView.

[2016-09-25 21:35] niqdev commented on #17
Hi! Unfortunately I have no experience at all on openGL, and you?
You are welcome to contribute!

[2016-09-28 13:09] sidzi opened #18 "NetworkOnMainThread Exception"
[code]

causes the exception and cannot be called in async task or any other worker thread i.e. has to be called from the UI thread :( , How to fix this ?

[2016-09-28 19:30] niqdev commented on #18
Hi! Can you please give me more details about the stacktrace and tell me the exact steps for reproduce the error? Thanks

[2016-09-29 08:13] sidzi commented on #18
yeah sure,
I have to close/stop mjpegView after I press the back button in the activity i.e. in the ```onBackPressed()``` method and so I have to run this code
[code]
but this gives me an exception , since I cannot do network ops on the main UI thread (which the ```isStreaming()``` function is probably doing) , so what should I do ?

[2016-09-29 12:28] niqdev commented on #18
I understood now, the real problem is in the [implementation](https://code.google.com/archive/p/android-camera-axis) that this library wrap and the Thread management.
I would suggest to fork the project, add your code on a separate branch and try to debug [MjpegViewDefault](https://github.com/niqdev/ipcam-view/blob/master/mjpeg-view/src/main/java/com/github/niqdev/mjpeg/MjpegViewDefault.java). In

[2016-10-19 10:19] sidzi commented on #18
really sorry for the delay.
I tried running the forked project and found that the exception was occurring at line 221 in MjpegViewDefault.
[code]
Should the ```mIn.close``` be in a different worker thread ?

[2016-10-19 17:47] niqdev commented on #18
no problem, can you please push the branch with the implementation on your remote?

Moreover, can you please try to downgrade the library to previous [versions](https://bintray.com/niqdev/maven/mjpeg-view) one by one and see if you have the same problem? I checked the commit and I wouldn't that we have introduced some regressions

Thanks

[2016-10-24 13:45] marconealberto commented on #5
so.. I still get the error "Error:Cannot get property 'destinationDir' on null object", tried to use @ingaramop 's code that allegedly worked for him.
What should I exactly do to make it work?

[2016-10-24 18:57] niqdev commented on #18
Hi @sidzi , do you still have the problem? Did you try to downgrade the library one by one?
Thanks

[2016-10-24 19:47] niqdev commented on #5
Hi @marconealberto , I've updated all libraries with the latest version available, can you tell me now if the project compiles and you are able to run the demo app?
Thanks

[2016-10-24 21:44] niqdev commented on #18
@sidzi I'm investigating your error, I have it only on old android versions like 18, not on the latest, that's why I wasn't able to reproduce it.
I'm trying to debugging this
[code]
Can you just confirm please your sdk version with the error?
Thanks

[2016-10-25 12:43] niqdev commented on #18
Links to similar issue
* http://stackoverflow.com/questions/25069186/invalid-address-passed-to-dlfree
* http://stackoverflow.com/questions/13196013/why-application-is-dying-randomly
* http://stackoverflow.com/questions/10662446/invalid-heap-address-and-fatal-signal-11
mostly due to the underling native C code :cold_sweat:

[2016-10-26 13:56] sidzi commented on #18
I wasn't able to solve the issue , I am running android 6.0.1 (api 23)
I will look through the links you have posted and tell you if I find anything .

[2016-11-12 22:13] danieltigse opened #19 "Can you provide an example without lambda?"

[2016-11-12 22:19] danieltigse commented on #19
Forget it. I figured it out:

[code]

[2016-11-12 22:19] #19 closed

[2016-11-12 23:32] danieltigse commented on #18
I have the same issue on my samsung galaxy s6 running android 6.0.1

[2016-11-13 13:06] niqdev commented on #18
@sidzi  and @danieltigse couple of weeks ago I tried to update the UI on this unstable [branch](https://github.com/niqdev/ipcam-view/tree/feature/new-ui) but I gave up, I wasted to much time trying to debug and fix this issue.
At this point the only thing to do probably is to refactor or better rewrite from scratch
* [MjpegViewDefault](https://github.com/niqdev/ipcam-view/blob/master/mjpeg-view/sr

[2016-11-13 13:10] niqdev commented on #17
@SalahEddin if you have any improvement with openGL that you would like to share or add to the library feel free to re-open the issue and I will help you to integrate it.
Thanks

[2016-11-13 13:10] #17 closed

[2016-11-13 13:11] SalahEddin commented on #17
I have no experience on OpenGL, sorry

[2016-11-13 13:13] niqdev commented on #10
@WhyteFyre did you succeed in the implementation of the record functionality?
If yes would you lie to integrate it in the library? Otherwise I will close the issue.
Thanks

[2016-11-13 13:14] niqdev commented on #9
Related issue to #18

[2016-11-13 13:14] #9 closed

[2016-11-13 13:16] niqdev commented on #17
Me neither, thanks anyway

[2016-11-13 13:27] niqdev opened #20 "Android 7 not supported"

[2016-11-13 13:30] niqdev commented on #5
The project have been updated with the latest `sdk` and `support` libraries version

[2016-11-13 13:30] #5 closed

[2016-11-14 17:55] sidzi commented on #18
@niqdev I don't know if I have enough knowledge to do this myself , but if you'd like to , I can pair program with you whenever you decide to work on it , if that helps :)

[2016-11-14 19:23] danieltigse commented on #18
My only workaround is use the 0.3.4 version, the only version where the stopPlayback method works. And the trick is that when I want to play again I remove and create the view again.

[2016-11-14 20:17] niqdev commented on #18
Thanks @danieltigse for point out the version.
By the way all changes from `0.3.x` up to the latest are all related to the same problem.
I would definitely like to rewrite it anyway in future!

[2016-11-20 05:55] ariesccv opened #21 "Propagate Network Unavailable Exception"
Is there any way to have an exception be propagated back to the application in the event that the server is down, so I can use try/catch to handle the exception within my application?

[2016-11-20 17:02] niqdev commented on #21
Hi,
I'm not sure if this is what you are looking for, here an [example](https://github.com/niqdev/ipcam-view/blob/master/app/src/main/java/com/github/niqdev/ipcam/IpCamDefaultActivity.java#L57)

[code]

[2016-11-20 23:57] ariesccv commented on #21
Hi,

Here is what I have,
[code]
I am trying to catch the exception when the server is down.  The above does not catch the exception, been trying for a while with no luck...

[2016-11-21 21:06] niqdev commented on #21
I'm not sure the try/catch will work correctly with rxjava.
So few hints, try to use the open [method](https://github.com/niqdev/ipcam-view/blob/master/mjpeg-view/src/main/java/com/github/niqdev/mjpeg/Mjpeg.java#L107) without timeout.
Then you can handle the error or in the `subscribe` or in the `doOnError`

[code]
Let me know if it works.
Did you setup the server on your own? If yes, can you tell

[2016-11-28 22:48] ariesccv commented on #21
I tried the method you suggested, unfortunately it does not work.  I think try/catch does not work with rxjava as you indicated.  I am new to Adroid thus do not know much about rxjava.  I can't get the lamda version to work with my setup, something fail about java 1.8.  I'm using AS 2.2.2, do you have any guide on how to setup java 1.8?

I am using Axis video encoder as the server, Here is the lin

[2016-11-28 22:54] ariesccv commented on #21
Correction, java 8

[2016-11-28 23:22] niqdev commented on #21
Thanks for the link.
I just found [this](http://andersmurphy.com/2015/09/16/setting-up-retrolambda/) tutorial for you, hope it helps. You need both jdk 7 and 8 in your path.
By the way this is [Retrolamba](https://github.com/orfjackal/retrolambda)

[2016-12-18 16:34] inmyth opened #22 "Occasional NPE after stopPlayback has been called"
So I put stopPlayback in fragment's onPause which activates during fragment change. Occasionally an NPE is thrown:
[code]
The said part of the code is :
[code]
I feel that even after mRun is set to false with ```stopPlayback```, the process inside has not finished while mIn is already null. What would you say of adding a null check for mIn ?

[2016-12-18 18:45] niqdev commented on #22
Hi, unfortunately there are so many issue related to the wrapped implementation and I have no time now, but I'd really like to rewrite the library from scratch, as pointed out in the issue #18 it seems that version `0.3.4` is more stable.
Let me know if is the same for you and I should revert some changes, if you have any suggestion to fix the problem or you are brave enough to dig into the implem

[2016-12-19 19:01] danieltigse opened #23 "Can you provide a new DisplayMode"
Please I need a new DisplayMode. In ImageView it is called centerCrop, when the image is cropped until fit in the screen without losing proportionality.

[2016-12-19 19:29] niqdev commented on #23
Hi,
the value available are [here](https://github.com/niqdev/ipcam-view/blob/master/mjpeg-view/src/main/java/com/github/niqdev/mjpeg/DisplayMode.java) and they are use [here](https://github.com/niqdev/ipcam-view/blob/master/mjpeg-view/src/main/java/com/github/niqdev/mjpeg/MjpegViewDefault.java#L55)

In order to add a new `DisplayMode` I need that you provide me some info or the implementation for

[2016-12-24 01:05] John-Keyor commented on #22
Hi,
Yeah, I've been having that same problem for few months now. Even tried changing the dependency in build.gradle to 0.3.4 from 0.3.6 and same problem. It isn't always reproducible but more often than not, when exiting from videoplayback, there is a NPE.

I'd really like to continue implementing ipcam-mjpeg view but with this problem, it's become a nuisance. Is there anyway on the implementation

[2016-12-24 11:17] niqdev commented on #22
Hi @John-Keyor,
as I said I spent already too much time trying to debug/fix it without success. The problem seems to be the bad Thread management / convoluted / messy codes that this library wraps. Unfortunately I have no spare time to invest on this project in the near future to rewrite it, but I would be more than happy if someone wanna help me.
You could try something different using the `nativ

[2017-01-07 19:46] bmachek opened #24 "Multiple MjpegViews in one activity"
If I put 2 MjpegViews in one activity, one stays black, and the other one is streaming OK.
Both streams work if put alone in a activity.

Is this a known issue? Am I doing something wrong?

Thanks.

[2017-01-07 19:49] niqdev commented on #24
Hi, I never tried, could you share the code?
Thanks

[2017-01-07 19:51] niqdev commented on #23
@danieltigse did you manage to handle the DisplayMode? Otherwise I will close the issue.
Thanks

[2017-01-07 19:52] bmachek commented on #24
Of course :)

`package systems.machek.tankdroid;

import android.os.StrictMode;
import android.support.v7.app.AppCompatActivity;
import android.os.Bundle;
import android.widget.TextView;

import com.github.niqdev.mjpeg.DisplayMode;
import com.github.niqdev.mjpeg.Mjpeg;
import com.github.niqdev.mjpeg.MjpegView;

public class MainCockpit extends AppCompatActivity {

    private MjpegView frontMjpegV

[2017-01-07 19:53] danieltigse commented on #23
No, I leave it in that way thanks. Close it.

[2017-01-07 19:57] #23 closed

[2017-01-07 19:59] niqdev commented on #24
It looks fine, have you tried to debug both the subscribe method? Any exception?

[2017-01-07 20:00] niqdev commented on #24
Have you tried to use 2 Fragment for example?

[2017-01-08 09:29] bmachek commented on #24
Fragments didn't change anything. There are no exceptions.
Will start the debugger now ;)

[2017-01-13 19:21] bmachek commented on #24
So now I finally got the time for doing this ;)
I ran both subscribe methods through the debugger, as far as I could understand what's going on, they look equal, but I'm fairly new to Android development. Maybe someone with more experience could assist.

[2017-01-14 12:36] niqdev commented on #24
I found the problem, I'll push the fix now and also and example with multiple view in a separated branch.
The problem was that `private MjpegViewThread thread;` was static... don't ask me why.
As I said all the wrapped code should be rewritten from scratch.

[2017-01-14 12:59] niqdev commented on #24
Checkout the branch `feature/two-cam` and give me a feedback please.
I'll update also the project and the library and release a new version.

[2017-01-14 13:12] niqdev commented on #24
I published version `0.4.0`

[2017-01-14 13:14] niqdev commented on #22
Hi @John-Keyor  and @inmyth , I just published version `0.4.0` to solve and issue to manage multiple view in the same activity. Could you please tell me if with the new version you still have the same probelms?
Thanks

[2017-01-14 13:16] niqdev commented on #21
@ariesccv did you manage to solve the problem?
Thanks

[2017-01-14 13:17] niqdev commented on #18
Hi @danieltigse   and @sidzi  , I just published version `0.4.0` to solve and issue to manage multiple view in the same activity. Could you please tell me if with the new version you still have the same problems?
Thanks

[2017-01-14 13:17] bmachek commented on #24
Works like a charm. Many thanks.

[2017-01-14 13:17] #24 closed

[2017-01-14 13:20] niqdev commented on #24
If you are working on an open source project, would you be interested to add in the Readme the link to your app?

[2017-01-14 14:09] bmachek commented on #24
will do so when it's shareable code ;)

[2017-01-17 01:21] PhanPirang commented on #18
Hi @niqdev, for version 0.4.0, the app still is still crush when I call stopPlayback() method!

[2017-01-17 01:38] PhanPirang commented on #18
Hi @niqdev, now I can use stopPlayback() method. Thanks for your hard working! Anyway I have another problem when I call freeCameraMemory in OnDestroy method, the app crushed!

[2017-01-17 02:04] ArtisterLuke opened #25 "Timeout is not work"
I try to use Mjpeg.getInsrance()....open(url, timeout).
But this is not work

[2017-01-17 19:06] ariesccv commented on #21
I could not make it work with try/catch method but it works using retrolamda.  I notice you have updated the lib, could you tell what changed?
Thanks

[2017-01-18 13:00] niqdev commented on #18
@PhanPirang yes, is not supported, here is the implementation
[code]
Actually this method is there only because the initial plan was to wrap also the native library

[2017-01-18 13:02] niqdev commented on #18
Since it seems to work now I will close the issue and update also the app soon.
Feel free to re-open the issue or create a new one if have other problems

[2017-01-18 13:02] #18 closed

[2017-01-18 13:06] niqdev commented on #21
I suggest you to avoid try/catch.
Yes the update should fix the thread issue, [here](https://github.com/niqdev/ipcam-view/commit/e3e268eb39022563a3568e5002dfc8bbffb05138) the simple change. On [this](https://github.com/niqdev/ipcam-view/tree/feature/two-cam) branch you can find an example with 2 camera in the same activity

[2017-01-18 13:07] niqdev commented on #21
I will close the issue, feel free to re-open it if you have other related problems

[2017-01-18 13:07] #21 closed

[2017-01-18 13:09] niqdev commented on #18
@sidzi @danieltigse @PhanPirang If you are working on an open source project, would you be interested to add in the Readme the link to your app?

[2017-01-18 13:14] niqdev commented on #25
Hi,
could you please be more clear? Do you have any stacktrace? What is your expected result and what doesn't work? Can you attach any snippet of code if it can make it more clear? Have you tried the demo project with the latest library verion?
Thanks

[2017-01-18 13:54] sidzi commented on #18
No , I wasn't , and thank you for the effort :+1:

[2017-01-22 08:15] niqdev commented on #20
Obsolete issue, it works correctly with the latest version

[2017-01-22 08:15] #20 closed

[2017-01-28 08:18] bmachek commented on #24
I uploaded the code now.
https://github.com/bmachek/TankDroid

[2017-02-11 08:44] niqdev commented on #25
@ArtisterLuke Since I didn't receive any answer I'll close the issue

[2017-02-11 08:44] #25 closed

[2017-02-11 08:45] niqdev commented on #22
Since I didn't receive any updates I'll close the issue

[2017-02-11 08:45] #22 closed

[2017-03-10 22:55] Selameab opened #28 "Callback function when frame is received"
Hi,
I would like to be able to save a snapshot when a button is pressed.

Is there a function that gets called when a new frame is received?

Thanks

[2017-03-11 14:01] niqdev commented on #28
Hi, nope at the moment this functionality is not available, if you find an easy way to integrate or you want to add it to the library let me know.
Thanks

[2017-03-11 22:55] Selameab commented on #28
I've sent you a PR

[2017-03-16 20:11] niqdev commented on #28
Thanks @Selameab , #29 add this feature

[2017-03-16 20:11] #28 closed

[2017-03-16 23:23] niqdev commented on #10
Similar solution to #29

[2017-03-17 16:31] ultrah opened #30 "Prefix type attribute"
Small issue, but can you please prefix the type attribute? It's a pretty common name and clashes with other libs.

https://github.com/niqdev/ipcam-view/blob/master/mjpeg-view/src/main/res/values/attrs.xml#L7

[2017-03-18 10:24] niqdev commented on #30
Hi, yes sure, like `stream_type`?
Before change can you please just give me and example? I want just to sure, cos in theory it shouldn't clash if used like in the example
[code]

[2017-03-18 10:43] ultrah commented on #30
Wow, quick reply :)

I would prefix with something related to the project name to be consistent when other attributes are added later on, something like  `ipv:type`. But `stream:type` is also fine!

The library that causes the issue for me is FAB, see https://github.com/Scalified/fab/blob/master/fab/src/main/res/values/attrs.xml

The result is an error at compile time

I'll open an issue for this

[2017-03-18 23:02] niqdev commented on #30
I confirm that any attribute name is valid, just tested with `myFavouriteName` and it works anyway
[code]

About `type` I'm still not convinced, otherwise I would expect to have this kind of issue much often, `type` is for sure way too much used by many libraries.
If you build your app from command line with `./gradlew build` it compiles or do you still have the same problem? Sometime is an IDE is

[2017-03-19 17:55] ultrah commented on #30
If you add `compile 'com.scalified:fab:1.1.3'` to your build file you should be able to reproduce the issue

[2017-03-19 18:37] niqdev commented on #30
Yep, you are right, I'll change it!

[2017-03-20 19:10] niqdev commented on #30
@ultrah I hope is not urgent, I'll make the changes soon, but I'm very busy at the moment and you might need to wait a bit. If you are comfortable and have time on the other hand, feel free to make a pull request.
Thanks for the patience

[2017-03-20 22:53] ultrah commented on #30
No worries, it really isn't urgent. If I can find time for a PR, I'll let you know!

[2017-03-23 09:52] RamzyChatti90 opened #31 "Android/iPhone"
Can i stream using smartphone devices as a camera IP?

[2017-03-23 12:58] mustafababil commented on #31
Yes but this project doesn't provide it.

[2017-03-23 18:55] niqdev commented on #31
There are other projects that do a great job like [spydroid-ipcamera](https://github.com/fyhertz/spydroid-ipcamera)

[2017-03-23 18:55] #31 closed

[2017-03-24 10:23] niqdev opened #32 "Wrap android-mjpeg-view project"
@perthcpe23 I really like your clear and simple [implementation](https://github.com/perthcpe23/android-mjpeg-view/blob/master/mjpegviewer/src/main/java/com/longdo/mjpegviewer/MjpegView.java) in your [project](https://github.com/perthcpe23/android-mjpeg-view) and I would like to initially wrap it and if/when stable maybe replace the other 2 libraries with yours and bump it to version 2.

[2017-04-18 09:05] nguyenhoanglam opened #33 "How to implement player callbacks? (buffering, start, stop...)"

[2017-04-18 14:14] niqdev commented on #33
Hi,
currently the record functionality is not available, there is a similar issue #10 .
At the moment I haven't spare time to add it, if you want feel free to implement it and open a pull request. Contributors are welcome!
Thanks

[2017-04-20 02:45] nguyenhoanglam commented on #33
I have another question. If the connection is slow, the MjiegView would be buffering and automatically reconnect (stream) when the connection available?

[2017-04-20 06:55] niqdev commented on #33
Nope, I know what you mean, there is no such feature, like back-pressure and as far as I'm aware is directly available in RxJava 2.x while I'm currently using 1.x.

[2017-05-02 14:13] mustafababil commented on #19
Here is the non-lambda version with also exception handling.

[code]

[2017-05-04 11:39] erdemnayir opened #35 "Resetting to invalid mark&java.lang.NegativeArraySizeException: -1"
Hi i am new at android and i have to stream ip cam. I am getting these errors after i entered my credentials.

[code]
and this

[code]
If you want i can write my credentials. Thanks in advance.

[2017-05-05 08:00] niqdev commented on #35
Hi,
are you using the code in the sample app? Did you try with the app on the Play Store?
Thanks

[2017-05-05 08:25] erdemnayir commented on #35
I did both. I did try sample in Android Studio and i got those errors. The camera what i use is Mobotix IP Camera and the url is http://85.99.109.4:5005/control/faststream.jpg?stream=full&fps=0, it is type MJPEG and i entered credentials.
I did debug and i ve seen in MjpegInputStreamDefault.class, when the headerLen variable equals -1, these errors appear.

[2017-05-05 08:38] niqdev commented on #35
Interesting, so could you please checkout old tags of the app and test the sample code or just downgrade the library with old versions, I wouldn't that with the latest changes we have introduced some regressions. Let me know if you find a version that work, thanks.

[2017-05-07 00:43] dkostins opened #36 "Throwing a Fatal error"
I just copied and pasted the code and changed the links around but can't get the example working, and like it is throwing a really strange error.
I think here is the code in question I belive:
  private void loadIpCam() {
        Mjpeg.newInstance()
                .credential(getPreference("demo"), getPreference("nxwitness"))
                .open(getPreference("http://demo.networkoptix.com:7001/

[2017-05-07 08:21] niqdev commented on #36
I think your copy and paste is wrong, `getPreference` read from the preferences, try something like this
[code]

[2017-05-07 19:49] dkostins commented on #36
Yeah I tried again, same error -
here is the full error.
Thanks for your speed responce :).
`
FATAL EXCEPTION: RxIoScheduler-2
                                                                Process: danmax.javaalexa, PID: 5159
                                                                java.lang.IllegalStateException: Fatal Exception thrown on Scheduler.Worker thread.

[2017-05-07 19:58] dkostins commented on #36
Here is the full code as of right now:
` import android.content.res.Configuration;
import android.os.Bundle;
import android.preference.PreferenceManager;
import android.support.v7.app.AppCompatActivity;
import android.util.Log;
import android.widget.Toast;

import com.github.niqdev.mjpeg.DisplayMode;
import com.github.niqdev.mjpeg.Mjpeg;
import com.github.niqdev.mjpeg.MjpegView;

import butterknif

[2017-05-07 20:25] niqdev commented on #36
Uhm, just a question, have you tried the example from google play? Is it working?

[2017-05-07 20:41] dkostins commented on #36
What's the name on Google play, but yeah I haven't .

[2017-05-07 21:04] niqdev commented on #36
Have a look the README,
Anyway I tried, but i think the problem is the format `mpjpeg (motion jpeg)`, the library supports only `mjpeg`.
If you try the demo app you should get an error similar to
[code]
That is like a 404 i.e. Not Found, in this case not supported I guess

[2017-05-07 21:13] dkostins commented on #36
Dang that is not exactly my problem because I tried to do a wrong url to get a 404 but it still threw that original error .Granted doesn't matter since not of the formats provided by the API I'm using has the correct format for your program . Thanks anyway :)

[2017-05-07 21:13] #36 closed

[2017-05-07 21:35] #33 closed

[2017-05-07 21:39] niqdev commented on #35
@erdemnayir Do you still have the problem? Did you try with older versions?

[2017-05-07 21:42] erdemnayir commented on #35
Unfortunately, I tried all versions, but I got the same errors.

[2017-05-07 21:45] niqdev commented on #35
Can you give me please more details of how reproduce the error?

[2017-05-10 12:03] erdemnayir commented on #35
Sorry for late answer, i said i am new at Android, my url is this http://deneme1:deneme0002@85.99.109.4:5005/control/faststream.jpg?stream=full&fps=0
Can you debug?

[2017-05-11 08:23] niqdev commented on #35
Hi, so for sure you should open the stream in this way
[code]
but apparently I have another error with that URL then

[code]
so maybe there is another parameter to add in the URL or a different path to retrieve the stream in the proper format

[2017-05-11 08:42] erdemnayir commented on #35
Yes, i did like that. I did try so many times and  with different types.

[2017-05-11 08:46] erdemnayir commented on #35
and i think you can fix with this;

package com.nagikho.ipcammjpegsample;

import android.graphics.Bitmap;
import android.graphics.BitmapFactory;

import java.io.BufferedInputStream;
import java.io.DataInputStream;
import java.io.IOException;
import java.io.InputStream;
import java.io.UnsupportedEncodingException;

/**
 * Created by enayir on 10.05.2017.
 */

public class MjpegInputStream extends

[2017-05-11 08:58] niqdev commented on #35
@erdemnayir if it works and probably could help also someone else, would be nice if you can make a pull request with your changes.
If you think it make more sense you could create another stream type with your solution since this library is just a wrapper and could be used with
[code]

[2017-06-05 16:21] jaumard opened #37 "supportRTL=true ?"
When I try to integrate this library it force supportRTL to true https://github.com/niqdev/ipcam-view/blob/master/mjpeg-view/src/main/AndroidManifest.xml#L8

I don't think this should be done as it's a library, it shouldn't change such things (maybe same for allow backup) I can override this in my own AndroidManifest.xml so no big deal ^^

[2017-06-05 16:53] jaumard opened #38 "Crash mjpeg stream from DLINK 930 L"
I tried this library with 3 different stream and camera, works for 2 of them but the third crash :(
It's a D-LINK 930 LB camera, stream works fine from web browser or there Android app but make MjpegSurfaceView crash.

Here is the full log:

[code]

Any idea ?

[2017-06-05 16:53] jaumard commented on #38
should be nice to at least catch this exception and show a "no compatible stream" or something

[2017-06-06 20:39] niqdev commented on #37
Hi, I actually don't remember if there was any good reason for why is set to `true`, but thanks for pointing out.

[2017-06-06 20:51] niqdev commented on #38
Hi, is the camera public? there is any way I can reproduce the error? Thanks

[2017-06-07 06:40] jaumard commented on #38
It's not public but I can open it for some time in order to be able to reproduce the crash. Can I have your email to send you the stream link ? To reproduce it's simple just try to read the stream, for me it crash directly without showing any images

[2017-06-07 08:19] zxc2694 commented on #38
I also met this problem during using a D-LINK DCS-5020L camera. So sad.

[2017-06-07 09:18] zxc2694 commented on #38
@jaumard Could you please share which ipcam can be used fine?

[2017-06-07 09:19] jaumard commented on #38
I test with a PS3 eye on a raspberry pi and a raspberry pi with the official cam module (with mjpg_streamer). I don't have ipcam except the D-LINK.

[2017-06-07 19:33] niqdev commented on #38
Hi, have a look at #35 and #32 and let me know if you have the same error, if it works would be nice to add/wrap another implementation

[2017-06-08 08:09] jaumard commented on #38
I test #32 no error but no stream lol only blank, I try this library with some public mjpeg stream and when it work it take 10 secondes before showing the first frame...
For #35 how can I test this code without building the all library source ? is it possible ?

[2017-06-08 13:03] niqdev commented on #38
Good to know about #32, for #35 I haven't tried the code, but i think the only way for test it would be to download the project, add it to the source, try with the demo app and make a PR if it works.

[2017-06-09 10:48] vvarock opened #39 "pls help me"
how to add ip cam in this application

[2017-06-10 12:13] niqdev commented on #39
Please, look at the Readme and the sample app

[2017-06-10 12:13] #39 closed

[2017-06-10 13:19] r3dm4n opened #40 "FATAL EXCEPTION: Thread-17 - when I rotate from portrait to landscape"
Tried on emulator, genymotion and Nexus 5x. When I rotate the device I sometimes get this error.
Camera url is not public.

: FATAL EXCEPTION: Thread-17
                                                                          Process: com.r3dm4n.gradinitaalex, PID: 31635
                                                                          java.lang.NullPointerException: Attempt to invoke vir

[2017-06-10 14:10] vvarock commented on #39
How to find port number

[2017-06-10 14:34] niqdev commented on #39
Hi, sorry but you need to be more specific in your issue, is too generic. Is a problem related to how set the port in the library or how find the port of your ipcam?

[2017-06-10 14:37] niqdev commented on #40
Hi, is the demo app that is crashing? This error is a bit confusing `Camera url is not public`. Is it working on the normal emulator or on other devices?

[2017-06-10 15:26] r3dm4n commented on #40
Sorry, I meant the camera requires a username and password.
It's the same behavior on  emulator or real device.

[2017-06-10 15:30] niqdev commented on #40
ok about username/password, is the demo app working?

[2017-06-10 15:34] r3dm4n commented on #40
Demo app is working without any issues.

[2017-06-10 15:37] vvarock commented on #40
Onvif camera support support this demo application?

[2017-06-10 16:03] niqdev commented on #40
@r3dm4n is your code public or can you share a snippet of how you integrate it in your code?

@vvarock this library is just a wrapper of 2 existing implementations for read mjpeg streams, I have no idea of supported brands, you need to try by yourself

[2017-06-11 05:41] r3dm4n commented on #40
@niqdev issue can be closed. I was doing something wrong. Thanks for the support.

[2017-06-11 05:41] #40 closed

[2017-06-11 07:42] niqdev commented on #40
@r3dm4n if your repo is public or app in the store you are welcome to create a pull request and add the link in the readme.
Thanks

[2017-06-11 07:47] r3dm4n commented on #40
The app is in the store, code is not public. I'll push the update this next week and add it there.

[2017-06-13 06:41] vvarock commented on #40
How to connect in Dlink  933l ip camera

[2017-06-14 08:44] vvarock commented on #35
Default is not working properly

[2017-06-14 08:46] vvarock commented on #35
After entering my ip address and port it showing erro

[2017-06-14 09:00] vvarock commented on #38
Ip camera and mobile connect in same network?

[2017-06-14 11:02] jaumard commented on #38
Yes they are also try on another network too but same problem

[2017-06-14 15:46] vvarock commented on #38
Try on same network but it's showing error

[2017-06-15 06:43] zxc2694 commented on #38
Hi, I can use #32 to show public IPCAMs, except my DLINK camera. I don't know what the problem is.
But I find DLINK camera view can be fine displayed on [WebView](https://developer.android.com/reference/android/webkit/WebView.html).
It's another method to show ipcam view.

    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        set

[2017-06-15 15:49] vvarock commented on #37
Snapshot is not working

[2017-06-16 06:59] vvarock commented on #38
Unfortunately ip cam demo has stopped how to solve this error

[2017-06-16 07:46] niqdev commented on #38
@vvarock your comments are not constructive, unrelated to the issues and not explanatory, you can't spam and add comments everywhere asking for help if you don't explain your problem, provide a sample of the code and a stacktrace

[2017-06-16 07:53] niqdev commented on #38
@zxc2694 Thanks for sharing, is the format of your stream MJPEG? cos this library supports only that format.
I think your solution could be a valid alternative to the unsupported format.

[2017-06-19 03:27] zxc2694 commented on #38
Yes, my ipcam is also MJPEG streaming, and I think #36 problem is the same as mine.
I don't know how to fix this incompatible problem from this library, so I use another alternative solution.

[2017-07-06 08:52] spurd0 commented on #36
Having same problem. Just imported your lib to new project & got same exception. App from play market works well.

[2017-07-07 01:54] spurd0 commented on #36
All right, solved it by adding:
        classpath 'com.android.tools.build:gradle:2.3.1'
        classpath 'me.tatarka:gradle-retrolambda:3.6.1'
        classpath 'com.neenbedankt.gradle.plugins:android-apt:1.8'
        classpath 'com.github.dcendents:android-maven-gradle-plugin:1.5'
        classpath 'com.jfrog.bintray.gradle:gradle-bintray-plugin:1.7.3'
to project's build gradle

apply plugin: '

[2017-07-07 12:48] niqdev commented on #36
Sorry for the late response, glad you found a solution. Thanks for sharing

[2017-07-25 07:13] ryanzulham opened #41 "Can I using this library without set Username and Pass"
i just need to display video.cgi file from my wesite. without username or password.
can i do?

[2017-07-25 19:22] niqdev commented on #41
hi, you can read MJPEG stream only with and without password

[2017-07-25 19:22] #41 closed

[2017-07-27 06:55] jLynx opened #42 "Flip image/source"
Is there currently a way to flip the image?

[2017-07-27 18:22] niqdev commented on #42
The library supports rotation, is this what you mean?

[2017-07-27 19:30] jLynx commented on #42
Can you give an example on how I would do this?

[2017-07-27 20:21] jLynx commented on #42
![flipped](https://user-images.githubusercontent.com/4393979/28690551-b2309dce-736d-11e7-936e-f27380053d9a.png)
Here is an example

[2017-07-27 21:24] niqdev commented on #42
Nope is not possible, sorry.
If you want, you are welcome and you can do a PR, I'll be happy to merge it

[2017-07-27 21:25] jLynx commented on #42
Alright, I guess you could add this as a feature request and I will try get around to adding it in

[2017-07-27 21:56] jLynx commented on #42
@niqdev I had some time right now and it was actually quite easy to do, so I have made a pull request now :D

[2017-07-27 22:01] niqdev commented on #42
@jLynx fantastic!
I'll merge it now but I will release the lib this weekend, did you test it? any regression?

[2017-07-27 22:03] jLynx commented on #42
I did test it and had no problems with it at all. I guess we can close this now since it has been implemented

[2017-07-27 22:06] niqdev commented on #42
i'll keep it open until I'll add a comment with the new lib version and when I'll release the demo on the store.
Thanks

[2017-07-28 21:50] niqdev commented on #42
I've released version `1.2.0`, you are welcome to add a link of your app in the readme.
Thanks

[2017-07-28 21:50] #42 closed

[2017-09-15 13:12] Chucky109 opened #44 "Can't set background color"
I am not able to change the background color of the MjpegView to remove the black borders.

[code]
Is there any magic trick or something like that?

Edit: Okay I was able to do this programmatically after casting the MjpegView into a normal view but then I have the problem that I can use every color instead of `Color.transparent`. When I try to
`((View) streamView).setBackgroundColor(Color.TRANSPA

[2017-09-16 09:43] niqdev commented on #44
Hi @Chucky109 , unfortunately I never tried to change the color of the background.
If you find a solution for the transparent please share it!
I would be glad if you add in the readme any info that could help also other people and if you are interested, add your project to the [list](https://github.com/niqdev/ipcam-view#apps-that-use-this-library)
Thanks

[2017-09-16 09:47] Chucky109 commented on #44
Hey @niqdev
Unfortunately it is no public project, only for my studies. But of course I will share my solution if I find one. Will have a look on it later in the evening.
Thanks for your answer!

[2017-09-16 14:44] Chucky109 commented on #44
Okay I found something, but I'm not 100% sure if it is the key to the solution. The class `MjpegViewDefault.java` explicitly says that surface color should be black. (https://github.com/niqdev/ipcam-view/blob/dbe3d9b218554159ef71892fe4cc38ccd185d430/mjpeg-view/src/main/java/com/github/niqdev/mjpeg/MjpegViewDefault.java#L141)
I guess if there would be a way to configure this (setter), this could he

[2017-09-16 18:00] niqdev commented on #44
Yep, you could try to clone this repo and try to change that property and see if it works in the demo project.
If that work I think you could try abstract that property in `MjpegView` in such a way that you can override it from outside and leave black as default.

[2017-09-16 18:02] niqdev commented on #44
@Chucky109 about `Okay I actually never edited a lib or something like that` you are more than welcome to make a pull request: fork the repo, clone it, create a feature branch, make your changes, make sure that you don;t introduce regression, push it and then create a PR

[2017-09-16 18:59] Chucky109 commented on #44
Okay it actually worked pretty well with the demo app - thanks for the tip 👍 I just created a PR with my changes @niqdev

[2017-09-16 19:12] niqdev commented on #44
Well done! just merged #45 , I will close the issue when I will publish a new version of the library.
Thanks for your contribution

[2017-09-16 19:23] Chucky109 commented on #44
I'm glad that it worked out that well. First time I contribute in a library development :) Can you tell me how long it will take until the new version will be published?

[2017-09-16 20:43] niqdev commented on #44
I've just released version `1.3.0`, enjoy!

[2017-09-17 07:28] Chucky109 commented on #44
Good morning! I made a mistake yesterday I think. I only tested it on emulator where it worked out very well. But in my application it does not work. Background stays black. I will investigate on that today and let you know when I found the solution

[2017-09-17 08:17] niqdev commented on #44
Great, please try to verify also on different android versions if it doesn't break anything else. Thanks

[2017-09-17 11:04] Chucky109 commented on #44
Okay after several hours of looking for solutions I finally did it - I guess :D Nah, just joking. I'm pretty sure it will work this time.
The problem was the following: You can't set transparent background color to a SurfaceView. There are several workarounds. The demo app decided to show transparent color as white (maybe it's based on theme, I'm not sure). Because white and the default Activity b

[2017-09-17 13:38] niqdev commented on #44
Great, I'll review and merge your PR later!

[2017-09-17 14:22] niqdev commented on #44
Just released version `1.3.1`. If you are happy close the issue please. I'll leave it open just in case you want to add something else.
Thanks

[2017-09-17 15:54] Chucky109 commented on #44
Very good idea :D I opened the next PR^^ In my app I show and hide the stream. This might happen multiple times. But because of the workaround to set transparency I wasn't able to hide the view. So I implemented a method to reset transparent background which basically removes the zorder property of the surface view and sets the pixelformat back to default opaque when called.

And in addition I saw

[2017-09-17 20:20] niqdev commented on #44
No worries, make as many changes as you need, as I said, for me is just important that you don't break the current functionality.
Please, can you just confirm that you test the demo app on the supported emulators and also on the real device?

[2017-09-18 06:24] Chucky109 commented on #44
Okay so I just tested it successfully. The setup was the following:
I added a button to the IpCamTwoActivity which basically executes
[code]

Then I tried to hit him as often as possible, change the orientation frequently, hit the button again randomly and also turned the device off and on to ensure onPause and onResume work correctly. I also tried it without the stopPlayback (which might make no

[2017-09-18 08:33] niqdev commented on #44
Well done! Can I ask just a favour? Would you mind to revert the changes in `IpCamTwoActivity` and move it in a new activity, named like `appearance` or `customization` and add the button for refresh directly in the navigation bar?
Maybe also look for a new public ip cam link just for your example.
In this way I will release also a new version of the demo app. Do you agree?
Thanks

[2017-09-18 08:41] Chucky109 commented on #44
Of course, no problem. One more question: What do you mean with "button for refresh"?

[2017-09-18 09:43] Chucky109 commented on #44
Oh I forgot that the PR is still open, so no need to create a new one. I pushed everything with a little additional change. The Activity in the demo app has now nearly the same functionality as in my own app with hiding and showing. And as it works in the demo app finally, I am really sure it will do the same in my app :)

[2017-09-18 11:08] niqdev commented on #44
Great job! I will hopefully review/merge/release the PR this evening or soon anyway. Thanks

[2017-09-18 18:52] niqdev commented on #44
@Chucky109 I released version `1.3.2` and tried to synthesize your notes.
I think the readme should be simple and coincise and it would be more helpful a detailed/verbose comment in the sample activity.
Could you please just review the readme/comments?
Thanks a lot

[2017-09-18 19:26] Chucky109 commented on #44
Okay, I will do it tomorrow 👍

[2017-09-18 21:18] niqdev commented on #44
Sorry, my bad, just released it. I've also released version 1.6.0 of the app in the store

[2017-09-19 14:03] Chucky109 commented on #44
So I reviewed your README changes and added some more + opened the last PR. It finally works as I need it in my app. Thank you very much for your patience :D 👍

[2017-09-19 18:20] niqdev commented on #44
merged #48
Thanks for your contributions!

[2017-09-19 18:20] #44 closed

[2017-10-07 17:14] mrkamiali opened #49 "java.lang.IllegalArgumentException: Invalid Unicode sequence: illegal character"
![screenshot_2017-10-07-22-08-54](https://user-images.githubusercontent.com/16431158/31310160-7d38b5e4-abac-11e7-8a94-bf5eb2bd1e0d.png)

*It works fine for 2 to 3 seconds when applications started but unfortunately I don't know what happens it crashed the app with this stack trace, please have a look into this and give me some appropriate answer So I can continue with this library.
Thanks.

10-07

[2017-10-28 16:37] vipamine33 opened #50 "App Crash"
I followed the instructions but the app crashes
the OnCreate() is called and the crash happens after that

here is the problem

E/AndroidRuntime: FATAL EXCEPTION: RxIoScheduler-2
                  Process: app.example.com.rccontrol, PID: 10003
                  java.lang.IllegalStateException: Fatal Exception thrown on Scheduler.Worker thread.
                      at rx.internal.schedulers.Schedu

[2017-10-28 19:16] niqdev commented on #50
Hi, did you try the sample app in the project?
Here is an [example](https://github.com/niqdev/ipcam-view/blob/master/app/src/main/java/com/github/niqdev/ipcam/IpCamDefaultActivity.java)

If is not working I need the snippet of the code that cause the error and an explanation to regenerate it.
Thanks

[2017-10-28 19:19] niqdev commented on #49
Hi, sorry for the late response.
Did you try the [sample](https://github.com/niqdev/ipcam-view/blob/master/app/src/main/java/com/github/niqdev/ipcam/IpCamDefaultActivity.java) code in the project?
If is still not working I need the code that cause the error to help you.
Thanks

[2017-10-28 19:23] niqdev commented on #37
@jaumard I'll close this issue, if you have other problem feel free to re-open it.
Thanks

[2017-10-28 19:23] #37 closed

[2017-10-28 21:53] mrkamiali commented on #49
Hi thanks for late replying, but I already have used mjpeg library to
rendering my video stream.  I'm not using your library any more. So thanks

On Oct 29, 2017 12:19 AM, "niqdev" <notifications@github.com> wrote:

Hi, sorry for the late response.
Did you try the sample
<https://github.com/niqdev/ipcam-view/blob/master/app/src/main/java/com/github/niqdev/ipcam/IpCamDefaultActivity.java>
code in t

[2017-10-28 22:33] niqdev commented on #49
Thanks anyway, just a question, which `mjpeg library` did you used?

[2017-10-28 22:33] #49 closed

[2017-10-29 09:15] vipamine33 commented on #50
i even imported that class into my app but same problem ( i tried it with and without ButterKnife)
[Here is the code ](https://github.com/vipamine33/IP-Cam-Viewer)

also i tried to download you app and modify on it but i cant get it to work on android studio :/

[2017-10-29 16:03] niqdev commented on #50
Just to be sure, have you downloaded also the sample app from the play store and tested with your ip address?
Try also to remove
[code]

[2017-10-29 17:34] vipamine33 commented on #50
Yea i tested the app and it works , i gave up and downloaded your app and used the default class there
ill post if i find the solution
Thank alot for the help tho ^^

[2017-10-29 17:35] #50 closed

[2017-10-29 18:42] niqdev commented on #50
ok, feel free to re-open the issue if you find the problem, thanks

[2017-11-20 13:09] ulaserdegor commented on #36
@spurd0 hi.  your solution not work for me. Can you help me?

[2017-11-20 15:51] spurd0 commented on #36
@ulaserdegor what error have you got? Please share your build.gradle for app & project.

[2017-11-21 05:37] ulaserdegor commented on #36
@spurd0 same your error. my gradle files like yours.
i using java 1.8 and sdk 27

[2017-11-21 09:13] spurd0 commented on #36
@ulaserdegor

Here is my project's build.gradle
[code]

Pay attention to ` group = 'com.github.niqdev'`, as i remembered i got error because i didn't have it. Also i used 25 sdk.

[2017-12-02 05:59] SoyaLeaf opened #51 "MjpegInputStreamDefault is not public~"
[code]

我目前需要通过这种方式来使用，可是您的库目前不支持。是否可以考虑 MjpegInputStreamDefault 类开放为public？

[2017-12-02 09:32] niqdev commented on #51
English please!

[2017-12-02 16:40] SoyaLeaf commented on #51
I'm so sorry ~ and I'm not good at English...
and then... the following content from Google Translate... :(
[code]
I currently need to use this method, but your library is not currently supported. Is it possible to consider that the MjpegInputStreamDefault class is open for public?

[2017-12-02 18:35] niqdev commented on #51
no problem for the translation

In theory is meant not to be accessible by design and used only by the lib, one easy solution is to have a package in your project called `com.github.niqdev.mjpeg` where you extend `MjpegInputStreamDefault` and add your logic, otherwise you could make a pull request, so that you can test your changes before I release a new version

Thanks

[2017-12-03 04:10] SoyaLeaf commented on #51
I got it~thank u very much.

[2017-12-03 10:30] #51 closed

[2017-12-14 12:03] asyncHyj opened #52 "frame rate"
how can i Set the frame rate,how to call the method?

[2017-12-16 14:04] weirdgyn opened #53 "Gradle 'ipcam-view-master' project refresh failed"
Error:Cannot choose between the following configurations of project :mjpeg-view:
  - debugApiElements
  - debugRuntimeElements
  - releaseApiElements
  - releaseRuntimeElements
All of them match the consumer attributes:
  - Configuration 'debugApiElements':
      - Found com.android.build.api.attributes.BuildTypeAttr 'debug' but wasn't required.
      - Found com.android.build.gradle.internal.depe

[2017-12-16 14:06] weirdgyn commented on #53
If I try to 'make' the project I got this error:

Error:A problem occurred configuring project ':app'.

[2017-12-16 14:14] weirdgyn commented on #53
I 'changed' the apt directive in gradle file with 'annotationProcessor ' as suggested but I still have the same error and I cannot find any reference of the android-apt plugin.

[2017-12-18 10:22] niqdev commented on #53
Hi,
sorry for the late response, are you trying to build the current project or your own?
Haven't tried to build it with the latest version of android studio, I'm having issue on ubuntu so that's why is stuck to [2.3.3](https://github.com/niqdev/ipcam-view/blob/master/build.gradle#L6)
Let me know if you succeed, PR are always welcome. I'll try to upgrade it as soon as I have time to investigate th

[2017-12-18 10:29] niqdev commented on #52
Hi,
sorry for the late response, the library is just a wrapper. I had a look at the implementation [here](https://github.com/niqdev/ipcam-view/blob/master/mjpeg-view/src/main/java/com/github/niqdev/mjpeg/MjpegViewDefault.java#L167) and it looks like is calculated, you can't set it.
Have a look as well and if you want to make any changes, PR are welcome.
Thanks

[2018-01-31 17:57] rajlee5129 opened #54 "regarding ip cam url issue"
good evening sir,i am trying to implement ip cam live stream but i can not understand how to take ip cam url form blow my ip cam web page view inspect element data.

<embed src="swfs/StrobeMediaPlayback.swf" width="640" height="352" quality="high" bgcolor="#000000" name="StrobeMediaPlayback" allowfullscreen="true" pluginspage="http://www.adobe.com/go/getflashplayer" flashvars="&amp;src=rtmp://192.

[2018-01-31 19:52] niqdev commented on #54
Hi, not sure how much I can help on this, in the [wiki](https://github.com/niqdev/ipcam-view/wiki) there is an example, but it really depends from your camera

[2018-02-01 05:58] rajlee5129 commented on #54
ok i will look into this issue

[2018-02-01 05:58] #54 closed

[2018-03-21 13:13] AbubakerMustafa opened #55 "Pinch - zoom feature"
Hi !
Can you add pinch-zoom functionality in the project.
I tried to implement pinch-zoom functionality by placing MjpegSurfaceView inside Relative layout and try to zoom layout.But Every Time I zoom in Instead of zoom it's size shortened.
Please help me to implement this functionality.
Thanks

[2018-03-21 13:15] AbubakerMustafa commented on #55
Here is my ZoomLayout Code

public class  ZoomLayout extends RelativeLayout implements ScaleGestureDetector.OnScaleGestureListener {

    private enum Mode {
        NONE,
        DRAG,
        ZOOM
    }

    private static final String TAG = "ZoomLayout";
    private static final float MIN_ZOOM = 1.0f;
    private static final float MAX_ZOOM = 4.0f;

    private Mode mode = Mode.NONE;
    privat

[2018-03-21 13:17] AbubakerMustafa commented on #55
Here is ZoomLayout Code that I used to zoom MjpegSurfaceView container layout

`public class  ZoomLayout extends RelativeLayout implements ScaleGestureDetector.OnScaleGestureListener {
    private enum Mode {
        NONE,
        DRAG,
        ZOOM
    }

    private static final String TAG = "ZoomLayout";
    private static final float MIN_ZOOM = 1.0f;
    private static final float MAX_ZOOM = 4

[2018-03-22 19:33] niqdev commented on #55
Hi @AbubakerMustafa that's a nice feature!
Unfortunately at the moment I'm too busy to work also on this, but if you manage to create a PR with the fully functional feature I'm more than happy to review it and release it.
Thanks

[2018-04-13 18:56] niqdev opened #57 "Upgrade to android-studio v3"

[2018-04-17 21:32] amadeu01 commented on #57
Hi @niqdev

How are you doing?

Here at the branch [/feature/studio-v3](https://github.com/niqdev/ipcam-view/tree/feature/studio-v3)  we have a problem:
1. We are `forcing` the user of the library use Rx, due to the open what returns an `Observable` object. In other words, the user has to use the library.
2. We can use  `api` keyword from Gradle 3.x android plugin. [More info](https://medium.com/m

[2018-04-18 20:08] niqdev commented on #57
Thanks @amadeu01

[2018-04-18 20:08] #57 closed

[2018-04-18 20:37] niqdev opened #59 "lib v2"
As proposed by @amadeu01 we should remove rx, guava and old libs no loger need

[2018-04-18 20:38] niqdev commented on #59
@amadeu01 I have no time for this but feel free to great a `feature` and discuss here your proposal for a better clean interface for the lib, if you are interested of course

[2018-04-18 21:26] amadeu01 commented on #59
1. I think it is impossible the library be pure Java due to the use of Android SDK, which is fine. But, I could have a core write only in Java which you give only the bitmaps to be used as the user want.

2. We could use Kotlin.

3. As a new version of the library could have behaviour tests or unit tests. I do not have any idea how could write tests for this kind of library. So, instead of writing

[2018-04-18 22:06] niqdev commented on #59
+1 for Kotlin and tests, if we can make it more functional, even better. I'm not up to date with the latest changes on Android SDK unfortunately and I never used Kotlin, but I know Scala and I think I should be able at least to follow your changes.

It would be really nice if we could also clean the "core" code which the library wraps like [MjpegInputStreamDefault](https://github.com/niqdev/ipcam-

[2018-04-18 22:48] amadeu01 commented on #59
We could also implement some `travis` `circleci` for run tests and tasks.

I have followed a tutorial about tests, and then I thought would be nice to put some travis and codecov on it [amadeu01/ingredisearch](https://github.com/amadeu01/ingredisearch)

[2018-04-18 22:52] amadeu01 commented on #59
@niqdev I guess functional approach is really nice, I once we do not have to save anything on disk, or sql, or something like that. (Perhaps, buffer the video) When can only consume data and pass other data to some function which is willing to consume that data.

[2018-04-25 15:46] amadeu01 opened #60 "Use travis to release new versions of the library"
We can add the script below to gradle. So, the Travis will give the right version for the library when it deploys to GitHub and/or other repositories.

[code]

[2018-04-28 09:24] niqdev commented on #60
I was reviewing this, not sure if I get it correctly, could you tell me how should I use it properly?

The [tags](https://github.com/niqdev/ipcam-view/releases) are related to the app in the store, not the lib

App version, see [here](https://github.com/niqdev/ipcam-view/blob/master/app/build.gradle#L11)
[code]
Lib version, see [here](https://github.com/niqdev/ipcam-view/blob/master/mjpeg-view/bui

[2018-05-11 04:12] amadeu01 commented on #60
@niqdev Sorry for my really late response. I completely forgot to answer you.

What those functions will do are take the number of commit to the HEAD and use it as the versionCode, in other words, it will increase the number of the versionCode by the number of commits. Then, it will take the `versionName` from the tag name.

We could use the same `versionName` and `versionCode` for the app sample

[2018-05-11 04:16] amadeu01 opened #61 "Question"
@niqdev

I was looking at the code. And, I could not understand how you update the Mjpeg view from other thread (other than UI thread). I do not know if I got it right, but it seems that you load a bitmap from a thread that is created on `MjepgView` and update that bitmap on the `MjpegView` from other thread. But, I always listened that we could only update something on the UI by using the UI thre

[2018-05-11 06:40] niqdev commented on #60
Got it, you want to uniform the version of the lib and the app!

[2018-05-11 06:52] niqdev commented on #61
It's been a long time that I don't touch that code, but if I understand it correctly your question, it could be the combination of `Scheduler.io` and `AndroidSchedulers.mainThread`. I can suggest to have a look also at the original code, I think there is a link in the readme and use the current best practices without looking to much at rx-java.
Also another idea that I had in mind when I wrote the

[2018-05-11 11:35] amadeu01 commented on #59
@niqdev Have you seen that there will be some changes on NDK and ABI Builds on Android studio 3.2 ? I do not know if it is going to have any bad impact to the library, however we can have look at the documentation

[2018-05-14 12:59] amadeu01 commented on #61
I think this two articles kind of response my question hahaha

- [Painless Threading](https://android-developers.googleblog.com/2009/05/painless-threading.html)
- [Universal Image Loader](https://medium.com/@ssaurel/enjoy-the-power-of-universal-image-loader-to-load-easily-your-images-on-android-3b36aa8a3161)

[2018-05-21 21:09] niqdev commented on #59
sorry for the late response, if we are going to integrate only [SimpleMjpegView](https://bitbucket.org/neuralassembly/simplemjpegview) we can get rid of the NDK

[2018-05-21 21:12] niqdev commented on #61
Thanks for sharing, shall I close this issue?

[2018-05-23 13:06] amadeu01 commented on #61
@niqdev Yeah, absolutely. Thanks for your support 😄

[2018-05-23 13:11] amadeu01 commented on #59
@niqdev I've never worked with NDK in depth. And, I would like to face some trouble and learn with it haha.

So, we could make a "wrapper for the ndk". I mean, we could make other library, that would be only native library. (Code in C/C++).

Then we could integrate it into this library.

## Kotlin
I was thinking, if we use kotlin, we could use [coroutines](https://kotlinlang.org/docs/reference/cor

[2018-05-23 16:02] #61 closed

[2018-05-24 08:10] niqdev commented on #59
If that's the reason +1 if we need NDK, about your link as I said I'm not familiar with Kotlin, so it's up to you

[2018-05-25 19:17] Poussinou opened #62 "F-Droid"
F-Droid received a [Request For Packaging](https://gitlab.com/fdroid/rfp/issues/85) for your app.
To be build by F-Droid, we need to find a way to build everything from source. Could you help us to do so? Here are the problematic prebuilt libraries:

ERROR: Found shared library at mjpeg-view/src/main/jniLibs/mips/libImageProc.so
ERROR: Found shared library at mjpeg-view/src/main/jniLibs/armeabi-v7

[2018-05-26 11:17] niqdev commented on #62
Hi, thanks for including the package on F-Droid.
So there is a [script](https://github.com/niqdev/ipcam-view/blob/master/compileJni.sh) to build those libraries, but unfortunately at the moment is not integrated with any CI/CD and they were built manually.
Consider also that with the help of @amadeu01 we are looking at #59 and #60 which means a full rewrite of the project in Kotlin, so not sure if

[2018-05-26 11:31] niqdev commented on #62
I can create a PR for that now if you want, is not a big deal. Regarding the rewrite is not something that is going to happen any time soon, just considering how and what to do.

[2018-05-26 11:34] Rudloff commented on #62
Well, if building the libraries is as easy as running this script, I guess I can work on packaging the current version.

[2018-05-26 11:39] Rudloff commented on #62
Are these prebuilt libraries really necessary?
It seems I can build and run the demo app even if I remove them.

[2018-05-26 11:43] niqdev commented on #62
No, I was planning to remove it before considering a full rewrite. The native implementation is broken and never got time to try to fix it. If it compiles and work just ignore those files

[2018-05-26 11:44] Rudloff commented on #62
Oh OK so we can totally package this on F-Droid then.

[2018-05-26 11:44] niqdev commented on #62
Nice, I'll merge the PR then, is that enough?

[2018-05-26 11:47] Rudloff commented on #62
If you are talking about https://github.com/niqdev/ipcam-view/pull/63, I don't think we strictly need it, it's just something our linter complains about.

So I think you should merge it (for security reasons) but it is not a requirement.

[2018-05-26 11:48] niqdev commented on #62
Got it, is correct the command I've added in the PR to generate the hash? or how did you get that and what should I run next time I bump the version?

[2018-05-26 11:54] niqdev commented on #62
@Rudloff last question, which are the criteria to add an app on F-Droid other then being open source? I have another [app](https://github.com/openwebnet/openwebnet-android) that you might be interested in...

[2018-05-26 11:55] Rudloff commented on #62
You can check our [inclusion policy](https://f-droid.org/docs/Inclusion_Policy/).

Feel free to open a [request](https://gitlab.com/fdroid/rfp/issues/new) for your other app if it meets the criteria.

[2018-05-26 11:59] niqdev commented on #62
Awesome, thanks!

[2018-05-26 11:59] #62 closed

[2018-05-26 14:57] niqdev commented on #62
Yep, I'm going to release the latest version now, I'll tell you when is done

[2018-05-26 15:46] niqdev commented on #62
I've released app `v.1.7.0`, let me know if works now

[2018-05-26 17:18] Rudloff commented on #62
It works, thanks!

[2018-06-21 13:01] casic opened #64 "Failing after back button pressed"
When i test  and press back to go previous activity . onPause() method

void onPause() {
        super.onPause();
        mjpegView.stopPlayback();
    }

and . CRASH

[2018-06-21 15:31] crgg opened #65 "after camera messoa 640X480 Error the Malformed \uxxxx encoding"
java.lang.IllegalArgumentException: Malformed \uxxxx encoding.
        at java.util.Properties.loadConvert(Properties.java:569)
        at java.util.Properties.load0(Properties.java:391)
        at java.util.Properties.load(Properties.java:342)
        at CameraMJPeg.MjpegInputStreamDefault.parseContentLength(MjpegInputStreamDefault.java:59)
        at CameraMJPeg.MjpegInputStreamDefault.readMjpeg

[2018-06-21 15:35] crgg commented on #65
private int parseContentLength(byte[] headerBytes) throws IOException, NumberFormatException {
        ByteArrayInputStream headerIn = new ByteArrayInputStream(headerBytes);
        Properties props = new Properties();
        **props.load(headerIn);** // here the error
        return Integer.parseInt(props.getProperty(CONTENT_LENGTH));
    }

[2018-06-21 18:31] niqdev commented on #65
Hi, thanks for reporting the issue, is the url public or private? Is hard to test it without a proper example.
Are you sure that the format is MJPEG? Several user in the past reported similar issue but the stream format wasn't correct

[2018-06-22 05:35] casic71 commented on #64
Hi,   this is in test and in my app.
But i added

StrictMode.ThreadPolicy policy = new StrictMode.ThreadPolicy.Builder().permitAll().build();
StrictMode.setThreadPolicy(policy);

in calling activity  and now i can back to  first activity .

[2018-06-22 05:40] casic71 commented on #64
E/AndroidRuntime: FATAL EXCEPTION: main
                  Process: com.github.niqdev.ipcam, PID: 12069
                  android.os.NetworkOnMainThreadException
                      at android.os.StrictMode$AndroidBlockGuardPolicy.onNetwork(StrictMode.java:1273)
                      at libcore.io.BlockGuardOs.recvfrom(BlockGuardOs.java:249)
                      at libcore.io.IoBridge.recvfrom(I

[2018-06-22 15:50] casic71 commented on #64
Also  when there is an errors in stream , no handle event . Just white screen . No way to stop or show  message  ???

[2018-06-22 16:21] niqdev commented on #64
Please, look at the sample app, there is an [example](https://github.com/niqdev/ipcam-view/blob/master/app/src/main/java/com/github/niqdev/ipcam/IpCamDefaultActivity.java#L57) of how to handle errors

[2018-06-23 01:08] crgg commented on #65
yes, I'm using another desktop application that only accepts MJEG and works well.
is url internal network

[2018-06-23 01:35] crgg commented on #65
url is private working well for couple minutes

[2018-06-23 01:39] crgg commented on #65
this url public http://71.201.238.186/ipcam/mjpegcif.cgi

[2018-06-23 02:54] crgg commented on #65
ONLY in this resolution working well (352x240)

[2018-06-23 10:50] niqdev commented on #65
Are you happy with the lower resolution? Would that make the difference on your mobile app? It looks like is a very specific edge case, not sure how can i help on this

[2018-06-23 16:13] crgg commented on #65
Yes, this the problem must be 640x480. the lower is 352x240. camera are running in 640x480 I can change this.
yes you can help , how to I'm can change via code this resolution.

[2018-06-25 16:07] niqdev commented on #65
You can't change the resolution via code, usually you should be able to pass it as parameter to your url. But you need to look at the docs of your camera, for example set the url to something like
`http://71.201.238.186/ipcam/mjpegcif.cgi?size=XXX`

[2018-07-02 06:37] wanglinfu opened #66 "视频返回怎么报错了 android.os.NetworkOnMainThreadException"

[2018-07-03 02:28] wanglinfu opened #67 "java.lang.NullPointerException: Attempt to invoke virtual method 'int android.graphics.Bitmap.getWidth()' on a null object reference at com.github.niqdev.mjpeg.MjpegViewDefault$MjpegViewThread.run(MjpegViewDefault.java:120)"

[2018-07-03 12:40] crgg commented on #65
hi, sorry me again but this option

public class MjpegViewDefault extends AbstractMjpegView {
@Override
    public void setResolution(int width, int height) {
        throw new UnsupportedOperationException("not implemented");
    }
}

[2018-07-03 19:10] niqdev commented on #67
please provide a useful description and explanation of you issue

[2018-07-03 19:10] #67 closed

[2018-07-03 19:10] niqdev commented on #66
please provide a useful description and explanation of your issue in english

[2018-07-03 19:10] #66 closed

[2018-07-03 19:13] niqdev commented on #65
Hi, can you please provide more details?

[2018-07-03 19:14] niqdev commented on #64
Feel free to re-open the issue and provide more information of your problem

[2018-07-03 19:14] #64 closed

[2018-08-29 23:47] 0thread opened #69 "Manipulating URLs"
Can you make a possibility of customizing 'Two camera' pane with own URLs ?

It seems we can only change one URL for 'Default' pane in Settings.

[2018-08-30 09:59] niqdev commented on #69
Hi, are you talking about the app?
If yes, the app is meant to be a simple demo as possible and only show how to use the lib, but if you would like to make some changes like the one you've proposed, feel free to open a PR and change the looking and feeling if you are happy.
Thanks

[2018-09-04 06:33] jcRuan opened #70 "About mjpeg stream crash problem at VIVO 7+ phone"
we got a problem at "VIVO 7 plus" phone, when preview the mjpeg stream and than the APP will crash, we record the log following :

{"date":"2018-09-04-10:25:31","exception":"
java.lang.IllegalArgumentException: Malformed \uxxxx encoding.
java.util.Properties.loadConvert(Properties.java:569)
java.util.Properties.load0(Properties.java:392)
java.util.Properties.load(Properties.java:342)
com.github.ni

[2018-09-04 06:48] alg520 opened #71 "rotate zoom recording"
I tried to implement the rotation and zoom function based on this [example,](https://github.com/google/grafika/blob/master/app/src/main/java/com/android/grafika/TextureFromCameraActivity.java) but failed. Do you have any good Suggestions? There is also a sample in this project for [recording.](https://github.com/google/grafika/blob/master/app/src/main/java/com/android/grafika/VideoEncoderCore.java

[2018-09-04 20:48] niqdev commented on #71
Hi, thanks for sharing the project [grafika](https://github.com/google/grafika)!

For rotation you mean #68?
For zoom you could create a PR out of #55 if you want.
About recording have a look at #10 for ideas.

Unfortunately, I haven't that many suggestions other than dig into [MjpegViewDefault](https://github.com/niqdev/ipcam-view/blob/master/mjpeg-view/src/main/java/com/github/niqdev/mjpeg/Mjpeg

[2018-09-04 20:54] niqdev commented on #38
Hi @zxc2694 , since @jcRuan had a similar issue, if you solve it, would you like to share what was your alternative solution? Thanks

[2018-09-04 20:58] niqdev commented on #70
Hi,
if for the same url and 2 different devices you have a different behaviour, do you have the possibility to debug those lines and see why it blows up?

[2018-09-04 21:02] niqdev commented on #70
@jcRuan not sure if it's related, but there is also an open PR #27 , you might want to investigate that too

[2018-09-06 01:29] jcRuan commented on #70
@niqdev thank you, we will try #27 way.

[2018-11-02 05:56] wanglinfu opened #73 "Called reconfigure on a bitmap that is in use! This may cause graphical corruption!"

[2018-11-05 10:30] niqdev commented on #73
Hi, can you please provide more information: stacktrace, code snippet and an explanation of how reproduce your issue? Is this happening in the demo app?
Thanks

[2018-11-24 18:20] emrekilic commented on #42
hello @niqdev.
My source mjpeg video comes in 90 degrees inverted. The flip feature does not fix it. What do I have to do to rotate the image 90 degrees?

[2018-11-26 17:18] emrekilic commented on #71
hello @alg520.
Have you been able to rotate mjpeg images. My source video images are 90 degrees inverted. The flip feature does not fix it. Do you have any suggestion to rotate the images 90 degrees?

[2018-12-01 13:06] xeno14 commented on #71
Hi. I submitted #75 to implement image rotation feature. Please take a look.

[2018-12-01 14:36] perthcpe23 commented on #32
Hi, I know it has been too long. Sorry for that. I recently updated the library (detect a boundary from HTTP header) and a license (MIT) which means your idea about wrapping a library is definitely OK. I hope this can help. Thanks!

[2018-12-02 16:12] niqdev commented on #32
Hi, thanks for your interest!

It's hard to maintain the current wrapped libraries and one possible idea would be to rewrite it from scratch in Kotlin as mentioned in #59 and use only the most reliable implementation.

I doubt it will ever happen any time soon, but I think we should keep your implementation in mind as well.

By the way, let me know if you have interest instead in adding your impem

[2018-12-02 16:15] niqdev commented on #42
Hi @emrekilic, I apologize for the late response.

Could you please provide more information (code snippets / stacktrace) about your issue?

Thanks

[2018-12-02 16:16] niqdev commented on #71
Hi @xeno14 , thanks for your PR!

[2018-12-02 16:45] niqdev commented on #71
@emrekilic  I've released `v1.6.0` of the library and published the latest version of the app on the store.
Feel free to reopen the issue if there is any problem.
Thanks @xeno14

[2018-12-02 16:45] #71 closed

[2018-12-02 16:48] niqdev commented on #70
I'm doing some cleanup regarding old issues, @jcRuan did #27 help?

[2018-12-02 17:08] emrekilic commented on #71
@xeno14 and @niqdev
Thanks for your efforts. You helped very quickly.

[2018-12-03 22:12] niqdev commented on #32
Thanks and you are more than welcome to contribute to the project :smile:

[2018-12-27 20:13] treefrogsoftware commented on #70
Not sure if you got to the bottom of this but I think I had this issue with binary vs text/ascii when using java properties to get some of the header fields from the stream.  I had to change the yield in the python flask server to ensure that all the header fields were sent as ascii to prevent this crash happening - this is technically the correct format for mjpeg but browsers are more forgiving a

[2018-12-28 09:37] niqdev commented on #70
Thanks @treefrogsoftware for your hint, out of curiosity, is the flask server open-source or if is not too complicated, can you create a gist with its main implementation so that might can help someone else?

[2018-12-28 14:49] treefrogsoftware commented on #70
yes sure, I'll package something readable, I am aiming to put the full project on github at some point

[2019-02-11 12:24] FerialMuhammad opened #76 "Crashes on Android studio v3.1.4"
Hi there,
I downloaded the entire project just to make sure I have everything right,but when I open it from android studio v3.1.4 the whole program just crashes and closes. what do you think might be the problem?
will getting an older version do the trick? and if so which one would be better?
P.S. I tried it on windows 8.1 and on 10

[2019-02-19 09:41] niqdev commented on #76
Hi, sorry for the late response, as soon as I'll have time I'll investigate this and give you a feedback.
Thanks

[2019-02-24 17:00] Hannan321 commented on #76
Mr Niqdev we will be grateful if you could upload a tutorial of this app which tells us how to build this kind of IP cam android apps

[2019-06-12 06:52] UmeshBaldaniya46 opened #77 "Null ObservableSource supplied"
Hello Dear

Good work

I am using this module since Jan 2018
but i am getting some issues right now in some device

` E/VideoPlayerFragment: mjpeg error null
2019-06-12 12:15:00.421 20502-20527/com.technostacks.speedgun W/System.err: java.lang.NullPointerException: null ObservableSource supplied
2019-06-12 12:15:00.424 20502-20527/com.technostacks.speedgun W/System.err:     at io.reactivex.interna

[2019-06-13 08:20] niqdev commented on #77
Did you try to debug with the emulator or the phone to check which line is causing the issue?
Can you confirm that is a valid mjpeg stream?
Thanks

[2019-07-19 14:08] EmerickH commented on #76
Hello,
I've got the same problem on Android Studio 3.4.2, any idea why is it crashing?

[2019-08-07 20:49] r3dm4n opened #78 "Problem with native (64 bit) when publishing to Google Play"

[2019-08-11 22:41] #78 closed

[2019-08-11 22:43] niqdev commented on #76
Thanks for the feedback and sorry for the late replay, I'll close the issue then!

[2019-08-11 22:43] #76 closed

[2019-08-13 10:44] weizhi9958 opened #82 "'android.graphics.Bitmap com.github.niqdev.mjpeg.MjpegInputStreamDefault.readMjpegFrame()' on a null object reference"
My English is not good, use google translation for help.
The following error occurs when I repeat `open` and `stopPlayback`.

[2019-08-13 20:48] niqdev commented on #82
No worries for your english!
Did you try the sample app? Could you C&P the code to replicate the issue?
Thanks

[2019-08-14 04:42] weizhi9958 commented on #82
I have an open and close button on the page.
The close button will call stopPlayback and clearStream.
This error occurs when I continuously trigger close and open for a while.
The code looks like this.

    @OnClick(R.id.imgClose)
    public void onClose() {
        mMjpegView.stopPlayback();
        mMjpegView.clearStream();
    }

    @OnClick(R.id.imgOpen)
    public void onOpen() {
        loa

[2019-12-15 16:55] yeahman45 opened #85 "Pinch to zoom?"
Is it possible to implement pinch to zoom?

[2019-12-15 17:05] #85 closed

[2019-12-15 18:21] yeahman45 opened #86 "Fatal error on back button/pause android.os.NetworkOnMainThreadException"
I am using the same code as the sample app :
https://github.com/niqdev/ipcam-view/blob/master/app/src/main/java/com/github/niqdev/ipcam/IpCamDefaultActivity.java

i.e. stopPlayback onPause

But when it pauses/back button, I get the following fatal exception:

`2019-12-15 22:17:14.573 29392-29392/com.myapp.app E/MessageQueue-JNI: android.os.NetworkOnMainThreadException
        at android.os.StrictM

[2019-12-15 18:23] yeahman45 commented on #86
I think I found the solution.
I run the mjpegView.stopPlayback() in a thread. There is no more the fatal exception and there's no more the FPS drop issue.

[2019-12-22 19:44] yeahman45 opened #87 "is it possible to add a seekbar ?"
is it possible to add a seekbar ?

[2019-12-26 08:15] KeplerCollections opened #88 "Issue When I request to access IP again"
2019-12-26 16:07:59.016 27211-27474/com.simonixlabs.smarthome E/Mjpeg: error during connection
    java.io.InterruptedIOException: thread interrupted
        at com.android.okhttp.okio.Timeout.throwIfReached(Timeout.java:145)
        at com.android.okhttp.okio.Okio$1.write(Okio.java:78)
        at com.android.okhttp.okio.AsyncTimeout$1.write(AsyncTimeout.java:155)
        at com.android.okhttp.oki

[2020-02-05 06:52] anandhukalesh opened #89 "Camera Image overlap issue"
Hi

We have an issue when we try to stream 2 camera in a screen.The portion of image of first camera is displayed on second camera.We change the TYPE of streaming to default and  everything works fine and image clarity become low.Could please help me to resolve this issue?

[2020-05-14 11:27] hamzaali6307 opened #90 "Need help"
please i need your guidance for setup this project on my system
stay bless
thanks

[2020-08-31 06:57] Gonsaave opened #91 "64 bit requirement play store"
Hi niqdev, hope you're doing well in these times.

I'm trying to publish an app using your library, but I can't due to the new 64 bit requeriment. I noticed there was another issue related to this, it was solved with a PR but it doesn't work for me.

I'm using version 1.7.0 of the library, maybe i'm missing something else?

Gradle:

implementation 'com.github.niqdev:mjpeg-view:1.7.0'

Any help is

[2020-08-31 09:57] niqdev commented on #91
Hi @Gonsaave,
thanks, I hope you are doing well too!

Honestly I'm not actively developing with android in these days, although I have 2 apps on the store that use this lib, so it's in my interest to maintain at least compatibility and the project alive.

I don't know much about the new 64 bit requirements, but if you are able to figure it out and open a pr, I would be more than happy to merge any

[2020-08-31 19:07] Gonsaave commented on #91
First off, thanks for the quick response!

I recently got back to Android development and saw all the changes in google politics, android 10 and other things, quite a lot has changed honestly. Although i'm no android expert, but i'll glady help if I can, so i'll check this and see if i can find anything (maybe it's something just related to my app even).

Again, any help is appreciated, i'll let y

[2020-09-07 04:58] Gonsaave commented on #91
Sorry for taking so long, was busy during the week. So i was able to give it a look during the weekend and after some research and testing, apparently the thing needed was to recompile the NDK with x86_64 added.

Correct me if i'm wrong @niqdev, i just modified the file Application.mk for mjpeg-view, recompiled and checked the APK with APK Analyzer (Android Studio) and everything seems alright now

[2020-09-07 09:05] niqdev commented on #91
That's great news!
I would expect that you have done something similar to #81, isn't it? If that's the case and it works, would you mind opening a pr for that? I can publish a new version of the lib so that you can give me a feedback, wdyt?

[2020-09-08 05:34] Gonsaave commented on #91
Yes it's very similar to #81 (added x86_64 so the NDK compiles for 32 and 64 bits now). I'll open a new PR and i'll give you feedback on how it goes!

[2020-10-29 14:27] jpage4500 commented on #91
Hi @Gonsaave - any updates on this? i was looking for a good mjpg view to use for my app and this one seems very robust - but I didn't want to add it and then realize I can't use it in Google Play

[2021-01-05 09:50] casic commented on #91
Hi @Gonsaave  - is there  already any solution ???
Best regards ?

[2021-01-06 09:39] casic commented on #91
For all with this  problem
Just use  Mac or Linux .   Open  Application.mk   ,  add  x86_64  .  Run  ./compileJni.sh
New folder  will  appear in JniLbs /x86_64.
I hope this help someone

[2021-01-16 07:21] jayesh83 commented on #88
Yes facing the same issue

[2021-01-16 07:22] jayesh83 commented on #88
Whenever the address is not reachable it crashes the app

[2021-02-04 17:23] jayesh83 opened #92 "Hangging on .stopPlayback() method"
Hi
I've implemented this project with some changes according to my need. But facing a hard time when the app goes in the background and comes back to focus again.

On **onStop()** lifecycle event, I'm calling `mjpegViewer.stopPlayback()` method and it stops but when I come back to the app,
On **onStart()** lifecycle event it gets hang. In fact, the entire phone becomes unresponsive followed by an

[2021-02-04 17:52] jayesh83 commented on #92
Issue resolved 😅 I find the solution in one of the closed issues i.e. #64.
Solution was to call `mjpegViewer.stopPlayback()` on **onPause()**, not on **onStop()** and connect again on the corrosponding lifecycle event.

I don't why it was not working on **onStop()**, but anyways, you got the point right?😂

[2021-02-04 17:52] #92 closed

[2021-02-08 06:33] savan15 opened #93 "Facing issue when set username and password in credential property please help me"
E/MjpegViewDefault: encountered exception during render java.io.EOFException

i have facing this error when set credential property

[2021-02-15 08:55] savan15 commented on #82
i am facing same issue can you please give me solution

[2021-02-17 12:05] jayesh83 opened #94 "How to display the last imposed bitmap in case of EOF or IO Exception"
Hi, Sometimes I get EOF or IO exception in that case current implementation just hangs the system, mjpegviewer starts flickering quickly. I want something that can prevent this and in case of IO/EOF exception, the very last bitmap should be displayed.

How to go about that?

[2021-02-27 10:14] niqdev commented on #94
Hi, I'm not actively developing on this lib, feel free to open a pr to fix the issue and I'll be more than happy to review it and merge it.
Thanks

[2021-03-15 15:22] ened opened #95 "Native crash in libimageproc"
[code]

Happens once in a while - still trying to build a repro case.

[2021-03-28 08:35] hannesa2 opened #96 "Jitpack can't build this library"
https://jitpack.io/#niqdev/ipcam-view
https://jitpack.io/com/github/niqdev/ipcam-view/v1.9.0/build.log

[code]

It looks like it's using outdated or wrong Gradle wrapper

[2021-03-28 08:48] hannesa2 opened #97 "Build is broken"
#84 brokes the build

<img width="469" alt="image" src="https://user-images.githubusercontent.com/3314607/112747041-2c4b9180-8fb3-11eb-9fc8-58696c757ce2.png">

[2021-03-28 15:30] PanderMusubi commented on #97
Does this fix it? https://github.com/niqdev/ipcam-view/pull/102

[2021-03-28 15:32] hannesa2 commented on #97
yes

[2021-03-28 15:32] hannesa2 commented on #97
close #102

[2021-03-28 15:58] #96 closed

[2021-03-28 16:05] #97 closed

[2021-03-28 16:55] niqdev commented on #95
Hi, I'm not actively developing this lib, feel free to open a pr to fix the issue and I'll be more than happy to review it and merge it.
Thanks

[2021-03-29 09:49] niqdev commented on #95
Does #83 solve this issue?

[2021-03-29 16:58] ened commented on #95
@niqdev no, #83 covers performance only. This one is a hard crash.

[2021-04-13 06:59] smartyw opened #121 "NegativeArraySizeException and Resetting to invalid mark"
Hi

I've created a very simple test application (single activity) with defaults throughout and am testing with a UCam247 camera. Unfortunately, when I start the stream I get the following exceptions:

[code]
My layout looks like this:

[code]

And my Activity:

[code]

I can open the stream from a WebView (but the frame rate is very, very slow) so it would appear that the stream itself is OK.

Tha

[2021-04-13 09:27] niqdev commented on #121
Hi,
I'm just wondering if this is a regression introduced with #83. Are you on the [latest](https://jitpack.io/#niqdev/ipcam-view/2.1.0) version? Would you mind trying out the old one available on [bintray](https://bintray.com/niqdev/maven/mjpeg-view/1.7.0) and see if it works?
Thanks

[2021-04-13 11:57] smartyw commented on #121
Hi @niqdev ,

I'm not familiar with bintray so I just changed the version number in the build.gradle dependencies entry to 1.7.0 without changing the repositories specified. Hope that still makes for a valid test.

[code]
Anyway I got what appears to be the same problem:

[code]
I can capture a trace with Wireshark if you think that would be useful. It's not a public camera so it's not possible fo

[2021-04-13 12:23] niqdev commented on #121
Eheh... I'm not familiar myself with the code either, what I did was blindly wrap an existing [implementation](https://github.com/niqdev/ipcam-view/blob/master/mjpeg-view/src/main/java/com/github/niqdev/mjpeg/MjpegViewDefault.java#L431) 😅
Have you tried to clone this repo and run the sample app in debug? Do you have the same result? From the error, it looks like the stream you are trying to read i

[2021-04-13 13:05] smartyw commented on #121
Ah OK :-)

I think the stream is valid since
a) I have another Android app that can handle it no problem (there are other issues unrelated with video streaming though)
b) A WebView can render the stream, albeit with a very low frame rate.

Thanks anyway.

[2021-04-13 14:05] niqdev commented on #121
Please let me know if you find a solution to your issue or a better/alternative approach! Thanks

[2021-04-13 14:12] smartyw commented on #121
Will do. Fingers crossed!

[2021-04-13 17:56] smartyw commented on #121
I tested with the sample app and got the same result. Not sure this advances the understanding of the problem exactly but it's worth noting.

[code]

[2021-04-13 19:05] smartyw commented on #121
I'm new to this stuff but.... there's a -1 value returned by various methods when expected or required values have not been found. For example getEndOfSeqeunce(...) (sic) and consequently getStartOfSequence(...) also. From what I can tell, the code looks for start / end values of 0xFFD8 and 0xFFD9 in a buffer. But in my case this is what's in the buffer:

[code]
The 0xFFE0 and 0xFFDB stand out. Go

[2021-04-14 11:24] niqdev commented on #121
oh that's interesting, thanks for all the details! never heard about JFIF either 😅

[2021-04-27 14:18] Gonsaave commented on #91
Hi everyone, i'm really sorry for leaving this issue pending all this time. Last year got really rough in my workplace and I couldn't come back to this. If anyone is still interested, I double checked my fix and it should work.

I can make a PR for this.

Again, i'm really sorry to everyone. Best regards.

[2021-06-17 19:07] DalvanSchmitz opened #129 "Android 11, E/qdmetadata: paramType 2048"
Good afternoon, I use your lib in my app, in the Androis 11 version the device is crashing and generating this error on the console: E/qdmetadata: paramType 2048. Thanks

[2021-08-24 03:45] yuhuitech opened #139 "The settings button and lib version string are blocked"
**Describe the bug**

Dear developer!
In the process of using, I found a bug in layout / display. As shown in the figure below, on the main page, **the settings button and lib version string are blocked**. This may be an adaptation problem. I suspect it is because **display and font size** are set to large **(mainly due to display size)**.
Because of some problems with my eyesight, I often use the

[2021-08-28 07:18] gmMustafa opened #141 "FPS too low getting 3-4fps on android device local server"
I have added the code to my project and everything is working fine, except the fps rate.
Although getting the same 3-4FPS on an emulator(video is a bit stable) but on a physical device 3-4fps are too lagy getting 5-7 seconds of delay and the video stuck on camera movement.

 I have installed the ipCam app from the play store and creating a local server for stream.

layout XML:
[code]
Here is how I

[2021-09-04 07:57] niqdev commented on #129
Hi, thanks for opening the issue, and sorry for the late response.
Is this issue still valid? Are you able to reproduce it with the demo app?
This project is not under active development, but if you open a pr with the fix I would be more than happy to review it
Thanks

[2021-09-04 07:59] niqdev commented on #139
@yuhuitech thanks for the detailed explanation and the pr

[2021-09-04 07:59] #139 closed

[2021-09-04 08:03] niqdev commented on #141
@gmMustafa thanks for opening the issue. This project is not under active development but if you think that there are some missing functionality like the one you are suggesting, please feel free to open a pr and I'll be more than happy to review it.
Thanks

[2021-10-29 12:29] zaptoopa opened #153 "Connection problems: Setting up ipcam-view with mjpg-streamer"
Hi, first of all thanks for your great project. I have a problem getting my [mjpg stream](https://github.com/jacksonliam/mjpg-streamer) to work on the [ipcam-view app](https://f-droid.org/de/packages/com.github.niqdev.ipcam/). The mjpg stream address `http://<server-ip-address>:8080/?action=stream` works well via VLC and via the common webbrowser. So when i enter the mjpg stream path in the ipcam-

[2021-11-10 16:50] #153 closed

[2021-11-10 16:52] zaptoopa commented on #153
my fault. works fine!

[2021-11-27 12:47] niqdev commented on #10
Resolved by #158

[2021-11-27 12:47] #10 closed

[2021-12-02 13:45] zaptoopa opened #163 "Fullscreen DisplayMode stretch vs scale"
Is it possible in the current state to scale the inputStream instead of stretching it?

I see only three options:
STANDARD(1), BEST_FIT(4), FULLSCREEN(8);

It would be nice if we're able to fit it in width (or height) by scaling.

[2021-12-04 12:23] niqdev commented on #163
Thanks for your interest. This project is not under active development, but if you think that there are some missing functionality like the one you are suggesting, please feel free to open a pr and I'll be more than happy to review it and merge it.

Thanks!

[2021-12-04 15:41] hannesa2 opened #168 "Callback for each frame is missing"
With the latest version there is no callback for each frame anymore

<img width="562" alt="image" src="https://user-images.githubusercontent.com/3314607/144715487-e1f86d10-9908-407b-afb8-f6b8e32f650c.png">

When you merge https://github.com/niqdev/ipcam-view/pull/167 which comes with Kotlin setup, I'll add this again

[2021-12-04 22:54] niqdev opened #169 "Automate publishing to play store when a new tag is created"
See https://github.com/niqdev/ipcam-view/pull/167#issuecomment-986044584

[2021-12-05 08:35] hannesa2 commented on #169
The publish of current state as apk makes no sense, because camera url is hard coded and run into a timeout

[2021-12-05 08:54] #168 closed

[2021-12-05 08:55] niqdev commented on #169
Fair enough, just keeping track of it in case the demo is converted to an actual app

[2021-12-06 18:57] niqdev commented on #163
Resolved by https://github.com/niqdev/ipcam-view/pull/176

Thanks for your contribution @zaptoopa !

[2021-12-06 18:57] #163 closed

[2021-12-08 08:21] zaptoopa opened #179 "Release number not found"
Greetings, I'm sorry to report that something went wrong with the release 2.3.2 and release 2.3.3 pipeline. I guess, since release 2.3.2 has failed,  the iteration is not correct anymore. When I use this lib with the latest release version in the gradle dependency of my project, I get the following error:

![v2 3 3](https://user-images.githubusercontent.com/93332963/145173064-3b768d40-7edc-403b-ae

[2021-12-08 10:22] niqdev commented on #179
Thanks for reporting this! It looks odd 🤔 I see the artifact [here](https://jitpack.io/#niqdev/ipcam-view/2.3.3) too... @hannesa2 sorry for dragging you in again, do you have the same problem?

I can create a new release if that's necessary. Did you try to compile it from the cli `./gradlew clean build` ?

[2021-12-08 10:42] hannesa2 commented on #179
I guess you only need more patient.
First time usage triggers the build on jitpack.io and you probably run into this error. Give it some minutes and try it again mostly solves it.

But hold on !
https://jitpack.io/com/github/niqdev/ipcam-view/2.3.3/build.log it builds yesterday
<img width="401" alt="image" src="https://user-images.githubusercontent.com/3314607/145194291-b9e30e6c-5414-4bc3-bd1b-aa7

[2021-12-08 10:44] hannesa2 commented on #179
https://jitpack.io/#niqdev/ipcam-view all is fine

<img width="572" alt="image" src="https://user-images.githubusercontent.com/3314607/145194931-7acfc4a3-e646-4d6f-80ee-58079598ae0b.png">

[2021-12-08 11:37] zaptoopa commented on #179
yeah, just tested it again and it works now.

[2021-12-08 11:37] #179 closed

[2022-01-12 07:41] zaid-asif-brainx opened #186 "Record View in background"
Hi, Is there a way of creating MjpegSurfaceView object in service and record video in background?

[2022-02-14 09:59] wb1016 opened #191 "missing permission"

[2022-02-14 11:21] niqdev commented on #191
Hi, thanks for looking into it.
Please, feel free to create a pr if that solves any issue! FYI I haven't updated the demo app on the playstore in a while and the demo links are probably old and not working.

[2022-03-01 11:40] MhmudAlpurd opened #193 "How to convert output of ipcam-view to Bitmap?"
Hi @niqdev, thank you for this library. I need to use the output of ipcam-view as bitmap. Could you guide me on how to do it, please?

[2022-06-29 14:25] tejaskanani07 opened #207 "Facing issue on streaming with some devices"
I'm testing this demo project with a camera device but facing streaming issues on some devices, same URL and the app is working on other devices.

Device Details
Name - Realme 6 (RMX2001)
android os - 11

`2022-06-29 19:47:32.127 24206-24206/com.github.niqdev.ipcam E/IpCamDefaultActivity: mjpeg error
    java.util.concurrent.TimeoutException
        at rx.internal.operators.OnSubscribeTimeoutTimed

[2022-11-03 09:36] witti-stephen commented on #86
Following your idea, I apply the code as follow and the issue is gone:

    override fun onPause() {
        super.onPause()
        GlobalScope.launch(Dispatchers.IO) {
            binding.mjpegView.stopPlayback()
        }
    }

[2022-11-21 19:14] mdeneen commented on #35
If your frame size is larger than ~40,000 you will have this problem.